@import "../../../variables";
@import "../../../mixins";
.general-settings {
    background-color: transparent;
    .propy-form {
        padding-top: 0px;
        background-color: transparent;
        @include box-shadow(0px, 0px, 0px, transparent);
        .btn-edit {
            min-width: 140px;
        }
        .btn-cancel {
            min-width: 100px;
            margin-left: 10px;
        }
    }
}