<div class="col-xs-12 general-settings">
    <form [formGroup]="editProfileForm" class="propy-form">
        <div class="form-group">
            <label for="firstName" class="propy-label">{{ 'common.placeholder.firstName' | translate }}</label>
            <input formControlName="firstName" type="text" class="form-control propy-control"
                id="firstName" placeholder="{{ 'common.placeholder.firstName' | translate }}">
            <div *ngIf="firstName.touched" class="propy-validation-errors-box">
                <div class="propy-validation" *ngIf="firstName.invalid && firstName.errors['required']">{{ 'common.validation-errors.required' | translate }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="propy-label">{{ 'common.placeholder.lastName' | translate }}</label>
            <input formControlName="lastName" type="text" class="form-control propy-control"
                id="lastName" placeholder="{{ 'common.placeholder.lastName' | translate }}">
            <div *ngIf="lastName.touched" class="propy-validation-errors-box">
                <div class="propy-validation" *ngIf="lastName.invalid && lastName.errors['required']">{{ 'common.validation-errors.required' | translate }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="propy-label">{{ 'common.label.email' | translate }}</label>
            <span [ngClass]="{'verified': isEmailVerified, 'not-verified': !isEmailVerified}">{{ isEmailVerified ? 'Verified' : 'Not Verified'}}</span>
            <input formControlName="email" type="text" class="form-control propy-control" id="email">
        </div>
        <div class="form-group">
            <int-phone-prefix [locale]="'en'" [defaultCountry]="defaultPhoneCountryCode" [phonePlaceholder]="'common.placeholder.phoneNumberFormat' | translate"
                formControlName="phoneNumber"></int-phone-prefix>
            <button type="button" class="btn propy-control button-big btn-edit" (click)="editUser()"
                [disabled]="firstName.invalid || lastName.invalid || email.invalid || phoneNumber.invalid">{{
				'common.label.save-changes' | translate }}
			</button>
            <button type="button" class="btn propy-control button-big btn-white btn-cancel" (click)="cancelEdit()">{{
				'common.label.cancel' | translate }}
			</button>
        </div>
    </form>
</div>