@import "../../_variables";
@import "../../_mixins";
.transaction-tool {
    padding: 15px;
    .ui-state-default {
        border: none;
        background: none;
    }
    .ui-state-highlight {
        background: none;
        .ui-menuitem-link {
            .ui-steps-number {
                color: $white;
                background-color: $blue-dark;
            }
            .ui-steps-title {
                color: $blue-dark;
            }
        }
    }
    .ui-steps .ui-steps-item .ui-menuitem-link {
        text-align: left;
    }
    min-height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $white;
    @include border-radius(15px);
    @include box-shadow(0px, 6px, 20px, rgba(0, 0, 0, 0.1));
    .ui-steps .ui-steps-title {
        color: black;
        margin-top: 10px;
    }
    .ui-steps .ui-steps-number {
        font-size: 100%;
        color: black;
        float: left;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        background: #fff;
        color: $black;
        text-align: center;
        margin-right: 5px;
    }
    .ui-steps .ui-steps-item {
        width: 100%;
        display: inline-block;
    }
    .ui-steps.steps-custom {
        margin-bottom: 30px;
    }
    .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
        height: 10px;
        padding: 0 1em;
    }
    .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
        color: #FFFFFF;
        display: inline-block;
        width: 36px;
        border-radius: 50%;
        margin-top: -14px;
        margin-bottom: 10px;
    }
    .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
        color: #555555;
    }
    .wokrflow-container {
        padding-right: 30px;
    }
}