@import "../../_variables";
@import "../../_mixins";
$success-color: #22c230;
$gray-color-indicator: #dcdcdc;
$nav-prev-next-color: #969696;
.transaction-tool {
    padding: 15px;
    .transaction-version {
        padding-left: 2em;
        @media #{$xxs} {
            padding-left: 0;
            text-align: right;
        }
    }
    .ui-state-default {
        border: none;
        background: none;
    }
    .ui-state-highlight {
        background: none;
        .ui-menuitem-link {
            .ui-steps-number {
                color: $white;
                background-color: $blue-dark;
            }
            .ui-steps-title {
                color: $blue-dark;
            }
        }
    }
    .ui-steps .ui-steps-item .ui-menuitem-link {
        text-align: left;
    }
    min-height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $white;
    @include border-radius(15px);
    @include box-shadow(0px, 6px, 20px, rgba(0, 0, 0, 0.1));
    .ui-steps .ui-steps-title {
        color: black;
        margin-top: 10px;
    }
    .ui-steps .ui-steps-number {
        font-size: 100%;
        color: black;
        float: left;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        background: #fff;
        color: $black;
        text-align: center;
        margin-right: 5px;
    }
    .ui-steps .ui-steps-item {
        width: 100%;
        display: inline-block;
    }
    .transaction-progress {
        padding: 35px 0;
        .ui-steps.progress-indicator {
            .ui-steps-item {
                width: 11.11%;
                opacity: 1;
                background: $success-color;
                height: 5px;
                margin-top: 18px;
                border-right: 1px solid white;
                border-left: 1px solid white;
                .ui-menuitem-link {
                    height: 10px;
                    padding: 0 1em;
                    display: block;
                    z-index: 2;
                    .ui-steps-number {
                        visibility: hidden;
                    }
                    .ui-steps-title {
                        visibility: hidden;
                    }
                }
                &.ui-state-highlight {
                    .ui-menuitem-link {
                        height: 12px;
                        .ui-steps-title {
                            visibility: visible;
                            color: $text-color-main;
                            position: absolute;
                            top: -60px;
                            left: 0;
                            right: 0;
                            text-align: center;
                        }
                        .ui-steps-number {
                            visibility: visible;
                            background-color: $success-color;
                            color: #FFFFFF;
                            display: inline-block;
                            width: 36px;
                            border-radius: 50%;
                            margin-top: -16px;
                            margin-bottom: 10px;
                            margin-left: calc(50% - 18px);
                        }
                    }
                }
                &.ui-state-highlight~.ui-steps-item.ui-state-default {
                    background: $gray-color-indicator;
                    opacity: 1;
                }
            }
        }
        .dummy-steps-holder {
            .step-cols {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                bottom: 0;
                right: 0;
                height: 100%;
                .ui-steps {
                    .ui-steps-item,
                    .ui-state-highlight {
                        .ui-menuitem-link {
                            .ui-steps-number {
                                display: none !important;
                            }
                            .ui-steps-title {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .nav-button {
            color: $nav-prev-next-color;
            .left-arrow,
            .right-arrow {
                border: none;
                outline: none;
                margin: auto;
                top: 0;
                bottom: 200px;
                width: 36px;
                height: 36px;
                color: white;
                background-color: $gray-color-indicator;
                @include border-radius(50%);
                @include box-shadow(0px, 5px, 25px, rgba(0, 0, 0, 0.05));
                &:hover {
                    background-color: $blue-main;
                    i {
                        color: white;
                    }
                }
                i {
                    text-align: center;
                    color: white;
                    font-size: 20px;
                }
            }
            .left-arrow {
                i {
                    margin-left: -2px;
                }
            }
            .right-arrow {
                i {
                    margin-right: -2px;
                }
            }
            &.hide-nav-button {
                visibility: hidden;
            }
        }
    }
    .record-document-button {
        line-height: 30px;
        margin-top: 15px;
    }
}