<div class="row">
	<div class="col-xs-12 text-center" *ngIf="!userIsAgent && !previewLink">
		<h5>Waiting to upload purchase agreement document</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-center" *ngIf="userIsAgent && !previewLink">
		<app-upload-document (onUploadDocumentApplied)="uploadDocument($event)"></app-upload-document>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-center">
		<app-document-preview [previewLink]="previewLink"></app-document-preview>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-center">
		<app-sign-document [hasBuyerSigned]="hasBuyerSigned"
						   [hasSellerSigned]="hasSellerSigned"
						   [hasBrokerSigned]="hasBrokerSigned"
						   [signButtonLabel]="signDocumentButtonLabel"
						   (onSignDocument)="signDocument()"></app-sign-document>
	</div>
</div>
