@import "../../../variables";
@import "../../../mixins";

$arrow-background-color: #DCF6FF;
$testimonials-text-size: 19px;
.featured-locations {
	margin-top: 40px;
	margin-bottom: 100px;
	h3 {
		font-weight: 500;
	}
	.featured-holder {
		.tile {
			box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.06);
			&:hover {
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			}
			position: relative;
			@include border-radius(9px);
			.property-card {
				.btn-facebook {
					float: right;
					margin-right: 15px;
					margin-top: 8px;
				}
			}
		}
		.left-arrow,
		.right-arrow {
			position: absolute;
			border: none;
			outline: none;
			margin: auto;
			top: 0;
			bottom: 0px;
			width: 40px;
			height: 40px;
			color: white;
			background-color: $arrow-background-color;
			@include border-radius(50%);
			@include box-shadow(0px, 5px, 25px, rgba(0, 0, 0, 0.05));
			&:hover {
				background-color: $blue-main;
				i {
					color: white;
				}
			}
			i {
				text-align: center;
				color: $blue-main;
				font-size: 20px;
			}
		}
		.left-arrow {
			left: -50px;
			i {
				margin-left: -2px;
			}
		}
		.right-arrow {
			right: -50px;
			i {
				margin-right: -2px;
			}
		}
		.ngxcarouselPointDefault {
			.ngxcarouselPoint {
				list-style-type: none;
				text-align: center;
				padding: 12px;
				margin: 0;
				white-space: nowrap;
				overflow: auto;
				position: absolute;
				width: 100%;
				left: 0;
				box-sizing: border-box;
				li {
					display: inline-block;
					cursor: pointer;
					border-radius: 999px;
					background: lighten($blue-light, 15%) !important;
					padding: 7px !important;
					margin: 0 3px;
					transition: .4s ease all;
					&.active {
						background: $blue-main !important;
						width: 10px;
						transform: scale(1) !important;
					}
				}
			}
		}
	}
}

.progress-spinner {
	@keyframes ui-progress-spinner-color {
		100%,
		0% {
			stroke: $blue-dark;
		}
		40% {
			stroke: $gray-darkest;
		}
		66% {
			stroke: $green-darkest;
		}
		80%,
		90% {
			stroke: $red-main;
		}
	}
	.ui-progress-spinner {
		width: 100%;
		padding-top: 5%;
		&:before {
			padding-top: 0px;
		}
	}
}
