@import "../../../variables";
@import "../../../mixins";
$blue-widget: #42C3F6;
.crypto-widget {
    z-index: 99999;
    position: fixed;
    top: 90%;
    max-height: 100%;
    max-width: 100%;
    @media #{$xs} {
        top: 10%;
        right: 15px;
        max-height: 100%;
        @media screen and (orientation: landscape) {
            top:17%;
        }
    }
    @media #{$sm} {
        top: 10%;
        right: 15px;
        max-height: 100%;
        @media screen and (orientation: landscape) {
            top:17%;
        }
    }
    @media #{$md} {
        top: 10%;
        max-height: 100%;
        right: 15px;
        @media screen and (orientation: landscape) {
            top:17%;
        }
    }
    .crypto-container {
        .widget {
            a {
                text-decoration: none;
            }
            span {
                font-size: 12px;
                @include border-radius(9px);
                border: 2px solid $blue-widget;
                padding: 10px;
                color: white;
                background-color: $blue-widget;
                box-shadow: 0px 1px 3px rgba(35, 197, 255, 0.4);
                &:hover {
                    background-color: $blue-light;
                    border-color: $blue-light;
                }
                @media (hover: none),
                (hover: on-demand) {
                    background-color: $blue-widget;
                    border: 2px solid $blue-widget;
                }
            }
        }
    }
}