<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h2>Login to Propy</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Your Email</label>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Your email">
                <div *ngIf="email.touched">
                    <div class="alert alert-info" *ngIf="email.pending">Checking...</div>
                    <div class="alert alert-danger" *ngIf="email.invalid && email.errors['required']">This field is required</div>
                    <div class="alert alert-danger" *ngIf="email.invalid && email.errors['email']">This is not a valid email</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="New Password">
                <div *ngIf="password.touched">
                    <div class="alert alert-danger" *ngIf="password.invalid && password.errors['required']">This field is required</div>
                    <div class="alert alert-danger" *ngIf="password.invalid && password.errors['invalidPasswordSymbols']">Your pass needs to at least 8 symbols and must contain lowercase character, uppercase character and a number</div>
                </div>
            </div>
            <div class="form-group checkbox">
                <label class="center-block">
                    <input type="checkbox" formControlName="rememberMe">Remember Me
                </label>
            </div>

            <button class="btn btn-primary" [disabled]="email.invalid || password.invalid">Login</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <app-facebook-button (click)="facebookLogin()"></app-facebook-button>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <app-linkedin-button (click)="linkedInLogin()"></app-linkedin-button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 text-center">
        <a routerLink="/signup">Not a member yet? Sign up here!</a>
    </div>
</div>