@import "../../../variables";
.login-holder {
    margin-top: 100px;
    form {
        .checkbox {
            label {
                color: $gray-dark;
            }
        }
    }
    .social-signup {
        padding-top: 20px;
        @media #{$sm} {
            padding-top: 10px;
        }
        .signup {
            h3 {
                margin-top: 15px;
                a {
                    text-decoration: underline;
                    &:hover {
                        color: lighten($black, 15%);
                    }
                }
            }
            margin-bottom: 28px;
            @media #{$sm} {
                margin-bottom: 10px;
            }
        }
        .signup-option {
            margin-bottom: 28px;
            @media #{$sm} {
                margin-bottom: 10px;
            }
        }
    }
}