<div class="row login-holder">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-offset-2">
		<h2 class="propy-custom-heading">Sign In</h2>
	</div>
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
		<form class="propy-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<input formControlName="email" type="email" class="form-control propy-control" id="email"
					   placeholder="Your email">
				<div *ngIf="email.touched">
					<div class="alert alert-info" *ngIf="email.pending">Checking...</div>
					<div class="alert alert-danger" *ngIf="email.invalid && email.errors['required']">This field
						is
						required
					</div>
					<div class="alert alert-danger" *ngIf="email.invalid && email.errors['email']">This is not a
						valid
						email
					</div>
				</div>
			</div>
			<div class="form-group input-group">
				<input formControlName="password" type="password" class="form-control propy-control"
					   id="password"
					   placeholder="Password">
				<span class="input-group-btn">
							<button class="btn btn-primary propy-control button-big"
									[disabled]="email.invalid || password.invalid">
								Login
							</button>
					   	</span>
			</div>
			<div *ngIf="password.touched">
				<div class="alert alert-danger" *ngIf="password.invalid && password.errors['required']">
					This
					field
					is required
				</div>
				<div class="alert alert-danger"
					 *ngIf="password.invalid && password.errors['invalidPasswordSymbols']">Your pass needs
					to at
					least 8 symbols and must contain lowercase character, uppercase character and a number
				</div>
			</div>
			<div class="form-group checkbox form-check abc-checkbox">
				<input type="checkbox" class="form-check-input"
					   formControlName="rememberMe" id="rememberMeCheckbox">
				<label class="center-block form-check-label" for="rememberMeCheckbox">
					Remember me
				</label>
			</div>
		</form>
	</div>
	<div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 social-signup">
		<div class="row">
			<div class="col-xs-12 login">
				<h3><a routerLink="/login">Register</a> or </h3>
			</div>
			<div class="col-xs-12 signup-option">
				<app-facebook-button (click)="facebookLogin()"></app-facebook-button>
			</div>
			<div class="col-xs-12 signup-option">
				<app-linkedin-button (click)="linkedInLogin()"></app-linkedin-button>
			</div>
		</div>
	</div>
</div>
