<div *ngIf="!isResetRequest" class="row forgot-holder">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <form class="propy-form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <h3 class="text-center">{{ 'forgot-password.reset-password' | translate }}</h3>
            <div class="text-center">
                <p class="title text-center"><span>{{ 'forgot-password.reset-password-desc' | translate}}</span></p>
            </div>
            <div class="form-group">
                <input formControlName="email" type="email" class="form-control propy-control" id="email" placeholder="{{ 'common.placeholder.yourEmail' | translate }}">
                <div *ngIf="email.touched" class="propy-validation-errors-box">
                    <div class="propy-validation" *ngIf="email.invalid && email.errors['required']">{{ 'common.validation-errors.required' | translate }}</div>
                    <div class="propy-validation" *ngIf="email.invalid && email.errors['email']">{{ 'common.validation-errors.invalid-email' | translate }}</div>
                </div>
            </div>
            <button class="btn btn-block propy-control button-big" [disabled]="email.invalid">
                    {{ 'forgot-password.reset-password' | translate }}
            </button>

        </form>
    </div>
</div>
<div *ngIf="isResetRequest" class="row forgot-holder">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <form class="propy-form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <h3 class="text-center">{{ 'forgot-password.reset-password' | translate }}</h3>
            <div class="text-center icon">
                <span [inlineSVG]="'/assets/images/email-icon.svg'"></span>
            </div>
            <div class="text-center">
                <p class="title text-center"><span>{{ 'forgot-password.reset-password-success' | translate}}</span></p>
            </div>
        </form>
    </div>
</div>