@import "../../../variables";
.forgot-holder {
    margin-top: 100px;
    p {
        color: $gray-medium;
        font-size: 15px;
    }
    .text-center {
        p {
            text-align: justify;
            text-align-last: center;
        }
    }
    .form-group {
        input {
            color: $input-label-color;
        }
    }
    .icon {
        margin-bottom: 15px;
    }
}