@import "../../../variables";
@import "../../../mixins";
$background-blue: #e2f6fd;
#escrowAddress {
    border-radius: 5px;
    color: $blue-main;
    padding: 10px;
    font-size: 14px;
    position: absolute;
}

.payment-info {
    display: block;
    margin-top: 40px;
    .refferal-button-desktop {
        @media #{$xs} {
            display: none;
        }
    }
    button {
        outline: none;
        @include border-radius(9px);
        border: none;
        background: none;
        padding-top: 5px;
        &:hover {
            background: none;
            color: lighten($gray-darkest, 10%);
        }
    }
    .mobile {
        display: none;
        @media #{$xs} {
            display: inline;
        }
    }
}