@import "../../../variables";
@import "../../../mixins";
$background-blue: #e2f6fd;
#escrowAddress {
    border-radius: 5px;
    color: $blue-main;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    @media #{$xs} {
        display: none;
    }
}

.payment-info {
    display: block;
    margin-top: 40px;
    .refferal-button-desktop {
        @media #{$xs} {
            display: none;
        }
    }
    button {
        @include border-radius(9px);
        color: $blue-main;
        border-color: $blue-main;
        &:hover {
            color: $blue-light;
            border-color: $blue-light;
            background: none;
        }
    }
    .copy-btn:active {
        background: none;
        color: $blue-dark;
        border-color: $blue-dark;
    }
    .copy-btn:active:focus {
        outline: 0;
    }
    .mobile {
        display: none;
        @media #{$xs} {
            display: inline;
        }
    }
}