<div class="row toc">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 toc-holder">
		<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'><span style='position:absolute;z-index:251658240;
left:0px;margin-left:16px;margin-top:1346px;width:82px;height:40px'>

<table cellpadding=0 cellspacing=0>
 <tr>
  <td width=82 height=40 style='vertical-align:top'><span style='position:absolute;
  left:0pt;z-index:251658240'>
  <table cellpadding=0 cellspacing=0 width="100%">
   <tr>
    <td>
	</td>
	</tr>
	</table>
	</span>&nbsp;</td>
	</tr>
	</table>

	</span><b><span lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>Propy
Inc.</span></b></p>

		<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'><b><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>804 Woodland Ave, </span></b></p>

		<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'><b><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>Menlo Park, CA 94025</span></b></p>

		<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'><b><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>&nbsp;</span></b></p>

		<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'><b><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>Effective:<span>
June 1, 2017</span></span></b></p>

		<p class=MsoNormal style='text-align:justify'><b><span lang=EN-US
															   style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span></b>
		</p>

		<p class=MsoNormal style='text-align:justify'><span lang=EN-US
															style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>TERMS
AND CONDITIONS</span></p>

		<p class=MsoNormal style='text-align:justify'><span lang=EN-US
															style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>These
terms and conditions (the Agreement) are a legal agreement between you and
Propy Inc. (Propy,Platfrom,Provider, us, our or we). Please note
that by accessing the Propy website (www.propy.com) and its related services
and tools (collectively, Propy), you hereby agree to be bound by the terms of
this Agreement.</span></p>

		<p class=MsoNormal style='text-align:justify'><span lang=EN-US
															style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>Please
note that this Agreement includes a class action waiver, a disclaimer of
warranties, a disclaimer of liability, as well as a release and indemnification
by you.</span></p>

		<p class=MsoNormal style='text-align:justify'><span lang=EN-US
															style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>We
may change the terms of this Agreement from time to time. We will notify you of
any such changes via e-mail or by posting the changes via a link to the updated
Agreement on the Propy.com home page. If you object to any such changes, your
sole recourse will be to stop using Propy. Continued use of Propy following any
such changes will indicate your acknowledgement of such changes and agreement
to be bound by the terms and conditions of such changes, without limitation or
qualification. You hereby agree that you are solely responsible for keeping
apprised of any updates to the Agreement that are posted on Propy.</span></p>

		<p class=MsoNormal style='text-align:justify'><span lang=EN-US
															style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>This
Agreement applies to all properties marketed for sale on Propy.</span></p>

		<p class=MsoNormal style='text-align:justify'><span lang=EN-US
															style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>1.
 <b>Definitions and Background</b>. </span></p>

		<p class=MsoListParagraphCxSpFirst style='text-align:justify'><span lang=EN-US
																			style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>Seller
means a person or business that sales a property. Buyer means a person or
business that purchases a property. Agent means a person or entity offering
to broker properties and desiring to use propy.com site in order to close such
a sale. A Buyer or Seller may complete a Transaction with or without an Agent.
To the extent that any Agent may be involved in a Transaction, the Agent shall
become a party to the transaction. Transaction refers to the use of the
propy.com web site to facilitate a Seller's delivery of a good or performance
of a service to a Buyer. Escrow Account means an account of the Provider to
which payment for the Transaction and other payments will be credited and/or
related fees will be obtained. Business Days mean Monday through Friday,
except for bank holidays. Terms of Use means the document on the Site that
contains the Site's terms of use. Escrow Instructions refers to the
provisions contained in these Escrow Instructions. User means a Buyer, Agent
or a Seller participating in a Transaction. Services means the Transaction
management and escrow services provided by our Platform refers to funds
deposited into an Escrow Account by participants of this Site. Site refers to
the website for the Services which can be found at </span><span lang=EN-US><a
			href="http://www.propy.com"><span style='font-size:9.0pt;line-height:115%;
font-family:"Helvetica Light",sans-serif;text-decoration:none'>www.propy.com</span></a></span><span
			lang=EN-US style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>.
</span><span lang=BG style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>The
</span><span lang=EN-US style='font-size:9.0pt;line-height:115%;font-family:
"Helvetica Light",sans-serif'>Provider is an innovative real estate platform
for home overseas buyers ( Propy,Platfrom, us, our or we). The Agent
intends to list its real estate properties (the &quot;Listings&quot;) through
Providers real estate platform (the Platform). For the purposes of this
Agreement, &quot;Sale&quot; means every sale of a property listed by the Agent
on the Platform. As soon as a property purchase agreement is signed and a
deposit is paid, the status of the Sale is changed to &quot;Closed Sale&quot;. For
the purposes of this Agreement, &quot;Property Price&quot; means the final
property price listed in the property purchase agreement or in case of
confidentiality - the listing price. No agent fees are included in Property
Price.</span></p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;line-height:normal'><span lang=EN-US
													 style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;line-height:normal'><span lang=EN-US
													 style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpLast style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:justify;line-height:normal'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>&nbsp;</span></p>

		<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'><span lang=EN-US style='font-size:9.0pt;font-family:
"Helvetica Light",sans-serif'>&nbsp;</span></p>

		<p class=MsoListParagraphCxSpFirst style='margin-left:0cm;text-align:justify'><span
			lang=EN-US style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>2.
 <b>Structure and Terms of the Arrangement</b>. </span></p>

		<p class=MsoListParagraphCxSpMiddle style='margin-left:0cm;text-align:justify'><span
			lang=EN-US style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;text-indent:-18.0pt;line-height:normal'><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>A.<span
			style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>The
Agent is obliged to fulfill its Agent Profile on the Provider's Platform. The
Agent represents and warrants to the Provider that the Agent has full legal
power and authority, including all required licenses, permits, and other
governmental approvals, to enter into this Agreement and to perform the
services required under this Agreement. </span></p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;line-height:normal'><span lang=EN-US
													 style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;text-indent:-18.0pt;line-height:normal'><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>B.<span
			style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>The
Provider will list Agents real estate listings on its Platform.<span
				style='color:red'> </span>Each listing is uploaded on the Platform manually by
the Agent.</span></p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;line-height:normal'><span lang=EN-US
													 style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;text-indent:-18.0pt;line-height:normal'><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>C.<span
			style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>The
Provider will use its commercially reasonable efforts to advertise the Agents
Listings in international search engines and social media.</span></p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;line-height:normal'><span lang=EN-US
													 style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;text-indent:-18.0pt;line-height:normal'><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>D.<span
			style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>The
</span><span lang=BG style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>Agent</span><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>
shall send written notice to the Provider for the following sale transactions:
1. Receiving a deposit payment, 2. Signing property purchase agreement. </span></p>

		<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
			lang=EN-US style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;line-height:normal'><span lang=EN-US
													 style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>The Agent may
accept a deposit in the amount of $5,000 from a potential Buyer of a Listing in
order to hold the Listing for such potential buyer. The buyer shall deliver to
the Provider via the Platform, a good faith deposit in the amount of Five
Thousand Dollars ($5,000.00) (said amount, inclusive of interest earned
thereon, is referred to herein as the Deposit). The Deposit shall be held in
an insured, interest-bearing account with interest accruing for the benefit of
Buyer for two (2) business weeks. The Deposit shall be sent directly to the
Agent with whom the Provider has mutual agreement. </span></p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;line-height:normal'><span lang=EN-US
													 style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;text-indent:-18.0pt;line-height:normal'><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>E.<span
			style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>The
Agent and the Purchaser shall indemnify, save, defend, keep and hold harmless
the Provider from any and all loss, damage, cost, charge, liability, cost of
litigation, or other expense, including without limitation attorneys fees and
court costs, arising out of its obligations and duties, including but not
limited to (i) disputes arising or concerning amounts of money to be paid, (ii)
funds available for such payments, (iii) 2 persons to whom payments should be
made or (iv) any delay in the electronic wire transfer of funds, as the
Provider, unless the Providers actions constitute gross negligence or willful
misconduct.</span></p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;line-height:normal'><span lang=EN-US
													 style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;text-indent:-18.0pt;line-height:normal'><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>F.<span
			style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>The
Deposit shall be applied to the Purchase Price if the occurs. After the
expiration of the Due Diligence Period, the Deposit shall be nonrefundable to
Buyer unless a Closing fails to occur due to Sellers breach or default under
this Agreement, a failure of a representation or warranty by Seller to be true
and correct in all material respects as of the Closing or as otherwise provided
for in this Agreement, and shall constitute liquidated damages to Seller if
escrow fails to close as a result of Buyers default. The Provider shall
receive 5% of the Deposit.</span></p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;line-height:normal'><span lang=EN-US
													 style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;text-indent:-18.0pt;line-height:normal'><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>G.<span
			style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>The
Agent shall remove the applicable Listing from the Provider's Platform for each
Closed Sale.</span></p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;line-height:normal'><span lang=EN-US
													 style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;text-align:justify;text-indent:-18.0pt;line-height:normal'><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>H.<span
			style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>The
Provider shall receive from the Agent a sales fee of 0.2% of the Property P rice
(the Sales Fee) for each Closed Sale. Such Sales Fee payment shall be made by
the Agent to the Provider within 1 business week after a property purchase
agreement is signed and the deposit is paid with respect to such Closed Sale.
The Sales Fee shall be paid by wire transfer to the Providers bank account, in
accordance with the wire transfer instructions provided by the Provider to the
Agent.</span></p>

		<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
			lang=EN-US style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-align:justify;
text-indent:-13.5pt;line-height:normal'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><b><span lang=EN-US
					   style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>Indemnification</span></b><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>. To
the fullest extent permitted by law, the Agent shall indemnify, defend, and
hold harmless the Provider and its officers, shareholders, directors,
affiliates, employees, and agents from and against any and all losses, costs,
claims, damages, liabilities, and causes of action (including attorneys fees)
(the Damages) to the extent arising out of any acts or omissions of the Agent
in connection with this Agreement; provided, however, that the Agent shall not
be liable to the extent that such Damages resulted from the willful misconduct,
bad faith, or gross negligence of the Provider. </span></p>

		<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><b><span
			lang=EN-US
			style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span></b></p>

		<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-align:justify;
text-indent:-13.5pt;line-height:normal'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><b><span lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>Independent
Contractor</span></b><span lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>.
In providing the services hereunder, the Agent shall be an independent
contractor for all purposes and shall not be deemed an employee, partner, joint
venturer, or the like of the Provider. Except as expressly provided herein, the
Agent shall have no authority to act on behalf of the Provider for any purpose.
</span></p>

		<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
			lang=EN-US style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-align:justify;
text-indent:-13.5pt;line-height:normal'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><b><span lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>Entire
Agreement; Amendments</span></b><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>. The terms of this Agreement are
intended by the parties to be a final expression of their understanding with
respect to the subject matter contemplated herein. No amendment or modification
of any term or provision of this Agreement shall be effective unless it is made
in a writing signed by the parties hereto. </span></p>

		<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
			lang=EN-US style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-align:justify;
text-indent:-13.5pt;line-height:normal'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><b><span lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>Governing
Law</span></b><span lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>.
This Agreement shall be governed by, and construed and enforced in accordance
with, the laws of the state of Delaware.</span></p>

		<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
			lang=EN-US style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-align:justify;
text-indent:-13.5pt;line-height:normal'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><b><span lang=EN-US
					   style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>Notices</span></b><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>. Any
communication, consent, approval, or notice required or permitted hereunder or
by law shall be provided in writing and shall be considered as given when
personally delivered or provided via electronic communication with evidence of
receipt, or three (3) days after deposit in the United States mail, certified,
return receipt requested, postage prepaid, addressed to the applicable party at
such partys address provided herein. </span></p>

		<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
			lang=EN-US style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-align:justify;
text-indent:-13.5pt;line-height:normal'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><b><span lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>Successors
and Assigns</span></b><span lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>.
The Agent shall not assign any rights or delegate any duties under this
Agreement without the prior written consent of the Provider. This Agreement
shall be binding upon and inure to the benefit of the successors and permitted
assigns of the parties. </span></p>

		<p class=MsoListParagraphCxSpLast style='text-align:justify'><span lang=EN-US
																		   style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif;color:#333333'>9</span><span
			lang=EN-US style='font-size:9.0pt;font-family:"Helvetica Light",sans-serif'>. <b>License.</b>
Solely to enable this site to use the information with which you supply us, and
so that we are not violating any rights you might have in that information, you
agree to grant us a non-exclusive, worldwide, perpetual, irrevocable,
royalty-free, sub-licensable (through multiple tiers) right to exercise the
copyright, publicity, and database rights you have in your information, in any
media now known or not currently known, with respect to your information.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>10. <b>Privacy. </b>Please see Your
Privacy Rights on the Provider web site which is incorporated herein by
reference.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>11 <b>Breach.</b> Without limiting
any of our other remedies, we may immediately remove your property marketings,
warn our community of your actions, issue a warning, temporarily suspend,
indefinitely suspend or terminate your membership and refuse to provide our
services to you if: (a) you breach this Agreement; (b) we are unable to verify
or authenticate any information you provide to us; or (c) we believe that your
actions may cause financial loss or legal liability for you, our users or us.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>12.<b> Indemnity</b>. You agree to
indemnify and hold Propy and (as applicable) our subsidiaries, affiliates,
officers, directors, agents, and employees, harmless from any claim or demand,
including a claim for attorneys fees, made by any third party due to, or
arising out of, your breach of this Agreement or the documents it incorporates
by reference, or your violation of any law or the rights of a third party.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>13. <b>Limitation of Liability.</b>
Except as prohibited by law, you agree to hold the Seller, the and us
(including our subsidiaries, affiliates, officers, directors, agents, and
employees) harmless for any damages or injury caused by, including but not
limited to, any failure of performance, error, omission, interruption, defect,
delay in operation of transmission, computer virus or online failure. You
further agree to hold the Seller, Sellers Agent and/or us harmless for any
special or consequential damages that result from the use of, or the inability
to use, the Propy website, the materials on the Propy website, or we or an
authorized representative of us has been advised of the possibility of such
damages, or both. </span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>14. <b>Legal Compliance. </b>You
shall comply with all applicable local, state, federal and international laws,
statutes, ordinances and regulations regarding your use of Propy and your
deposit, solicitation of offers to purchase, and purchase of property.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>10. <b>General</b></span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>(a) <b>Severability</b>. If any
provision of this Agreement is held to be invalid or unenforceable, such
provision shall be struck and the remaining provisions shall be enforced.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>(b) <b>Assignment</b>. You agree that
this Agreement and all referenced or incorporated agreements may be
automatically assigned by this site without your written consent to a third
party in the event of a merger or acquisition. You may not assign any of your
rights hereunder without prior approval by Propy.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'><br>
(c) <b>Breach</b>. Our failure to act with respect to a breach by you or others
does not waive our right to act with respect to subsequent or similar breaches.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>(d) <b>Entirety</b>. This Agreement
sets forth the entire understanding and agreement between us with respect to
the subject matter hereof.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>(e) <b>Fees are Nonrefundable</b>.
You agree to pay all fees incurred from your use of this site. All fees incurred
in connection with this site are non-refundable.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>(f) Refusal of Service. Propy reserve
the right to refuse service to anyone for any reason.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>(g) <b>Disputes</b>. This Agreement
shall be governed by, and construed and enforced in accordance with, the laws
of the state of Delaware.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>(h) <b>Acceptance</b>. All persons
registering on this site unconditionally accept the above Agreement, plus the
specific terms &amp; conditions for each individual marketing posted on this
site. You agree to abide by all such terms &amp; conditions fully and without
recourse to Propy, who are not involved by virtue of owning and operating Propy
in the actual transaction between the parties and assumes no control or
liability over any issues that may arise as a result of the transaction.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>(i) <b>Intellectual Property Notice</b>.
Propy Inc., the Propy logo and all other marks identified herein, and on
referenced and incorporated agreements, are trademarks or service marks of
Propy Inc. These marks may be registered with the United States Patent and Trademark
Office and Intellectual Property Offices of other countries.</span></p>

		<p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'><span lang=EN-US style='font-size:9.0pt;
font-family:"Helvetica Light",sans-serif'>(k) Class Action Waiver. ANY DISPUTE
RESOLUTION PROCEEDINGS WILL BE CONDUCTED ONLY ON AN INDIVIDUAL BASIS AND NOT IN
A CLASS OR REPRESENTATIVE ACTION, OR AS A NAMED OR UNNAMED MEMBER IN A CLASS,
CONSOLIDATED, REPRESENTATIVE OR PRIVATE ATTORNEY GENERAL LEGAL ACTION. YOUR
ACCESS AND CONTINUED USE OF PROPY SIGNIFIES YOUR EXPLICIT CONSENT TO THIS
WAIVER.</span></p>

		<p class=MsoListParagraphCxSpFirst style='text-align:justify'><span lang=EN-US
																			style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>

		<p class=MsoListParagraphCxSpLast style='margin-left:0cm;text-align:justify'><span
			lang=EN-US style='font-size:9.0pt;line-height:115%;font-family:"Helvetica Light",sans-serif'>&nbsp;</span>
		</p>
	</div>
