<div *ngIf="previewLink; then hasPreviewLink; else noPreviewLink">
</div>

<ng-template #hasPreviewLink>
    <div class="row">
        <div class="col-xs-12 text-center">
            <app-document-preview [previewTitle]="closeTitle" [previewSubtitle]="previewCloseSubtitle"
                [previewLink]="previewLink"></app-document-preview>
        </div>
    </div>
</ng-template>

<ng-template #noPreviewLink>
    <div class="row" *ngIf="userIsTitleCompany; then isTitleCompany; else isNotTitleCompany">
    </div>

    <ng-template #isTitleCompany>
        <div class="col-xs-12 text-center">
            <app-upload-document [uploadTitle]="closeTitle" [uploadSubtitle]="uploadCloseSubtitle"
                (onUploadDocumentApplied)="uploadDocument($event)"></app-upload-document>
        </div>
    </ng-template>

    <ng-template #isNotTitleCompany>
        <div class="col-xs-12 text-center">
            <h5>Waiting for Title Company to upload Closing Documents</h5>
        </div>
    </ng-template>

</ng-template>