<div *ngIf="hasDataLoaded; then dataLoaded;else dataNotLoaded"></div>
<ng-template #dataLoaded>
	<div *ngIf="previewLink; then hasPreviewLink; else noPreviewLink">
	</div>

	<ng-template #hasPreviewLink>
		<div class="row">
			<div class="row" *ngIf="userIsBuyer; then isBuyer; else isNotBuyer">
			</div>			
			<div class="col-xs-12 text-center">
				<h5>Please review the Closing documents.</h5>
			</div>						
			<div class="col-xs-12">
				<div class="row" *ngIf="userIsTitleCompany">
					<div class="col-xs-12 reupload-holder">
						<div class="row reupload-button-holder">
							<div class="col-xs-12">
								<button type="button" *ngIf="!reuploadingDocumentActivated"
										class="btn propy-control button-big pull-right"
										(click)="reuploadingDocumentActivated = true">Reupload
								</button>
								<button type="button" *ngIf="reuploadingDocumentActivated && !processingUpload"
										class="btn propy-control cancel-reuploading button-big btn-white pull-right"
										(click)="reuploadingDocumentActivated = false">Cancel reuploading
								</button>
							</div>
						</div>
						<div class="row" *ngIf="reuploadingDocumentActivated">
							<div class="col-xs-12">
								<app-upload-document [uploadTitle]="closeTitle" [uploadSubtitle]="uploadCloseSubtitle"
													 (onUploadDocumentApplied)="uploadDocument($event)"></app-upload-document>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center" *ngIf="!reuploadingDocumentActivated">
						<app-document-preview [previewTitle]="closeTitle" [previewSubtitle]="previewCloseSubtitle"
											  [previewLink]="previewLink"></app-document-preview>
					</div>
				</div>
			</div>
		</div>
	</ng-template>

	<ng-template #noPreviewLink>
		<div class="row" *ngIf="userIsTitleCompany; then isTitleCompany; else isNotTitleCompany">
		</div>

		<ng-template #isTitleCompany>
			<div class="col-xs-12 text-center">
				<app-upload-document [uploadTitle]="closeTitle" [uploadSubtitle]="uploadCloseSubtitle"
									 (onUploadDocumentApplied)="uploadDocument($event)"></app-upload-document>
			</div>
		</ng-template>

		<ng-template #isNotTitleCompany>
			<div class="col-xs-12 text-center">
				<h5>Waiting for Title Company to upload Closing Documents</h5>
			</div>
		</ng-template>

	</ng-template>
</ng-template>
<ng-template #dataNotLoaded>
	<h4>Loading...</h4>
</ng-template>
