<div *ngIf="hasDataLoaded; then dataLoaded;else dataNotLoaded"></div>
<ng-template #dataLoaded>
    <div *ngIf="previewLink; then hasPreviewLink; else noPreviewLink">
    </div>

    <ng-template #hasPreviewLink>
        <div class="row">
            <div class="row" *ngIf="userIsBuyer; then isBuyer; else isNotBuyer">
            </div>
            <ng-template #isBuyer>
                <div class="col-xs-12 text-center">
                    <h5>Congratulations! The property transfer is complete. We will soon
                        be shipping the paper deed to your physical address.</h5>
                </div>
            </ng-template>
            <ng-template #isNotBuyer>
                <div class="col-xs-12 text-center">
                    <h5>Completed!</h5>
                </div>
            </ng-template>
            <div class="col-xs-12 text-center">
                <app-document-preview [previewTitle]="closeTitle" [previewSubtitle]="previewCloseSubtitle"
                    [previewLink]="previewLink"></app-document-preview>
            </div>
        </div>
    </ng-template>

    <ng-template #noPreviewLink>
        <div class="row" *ngIf="userIsTitleCompany; then isTitleCompany; else isNotTitleCompany">
        </div>

        <ng-template #isTitleCompany>
            <div class="col-xs-12 text-center">
                <app-upload-document [uploadTitle]="closeTitle" [uploadSubtitle]="uploadCloseSubtitle"
                    (onUploadDocumentApplied)="uploadDocument($event)"></app-upload-document>
            </div>
        </ng-template>

        <ng-template #isNotTitleCompany>
            <div class="col-xs-12 text-center">
                <h5>Waiting for Title Company to upload Closing Documents</h5>
            </div>
        </ng-template>

    </ng-template>
</ng-template>
<ng-template #dataNotLoaded>
    <h4>Loading...</h4>
</ng-template>