<div class="row signup">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-offset-2">
        <h2 class="propy-custom-heading">Sign up</h2>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
        <form [formGroup]="signupForm" class="propy-form">
            <div class="form-group">
                <input formControlName="email" type="email" class="form-control propy-control" id="email" placeholder="Your email">
                <div *ngIf="email.touched">
                    <div class="alert alert-info" *ngIf="email.pending">Checking...</div>
                    <div class="alert alert-danger" *ngIf="email.invalid && email.errors['required']">This field is required</div>
                    <div class="alert alert-danger" *ngIf="email.invalid && email.errors['email']">This is not a valid email</div>
                    <div class="alert alert-danger" *ngIf="email.invalid && email.errors['emailTaken']">This email is already registered</div>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="firstName" type="text" class="form-control propy-control" id="firstName" placeholder="First Name">
                <div *ngIf="firstName.touched">
                    <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.errors['required']">This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="lastName" type="text" class="form-control propy-control" id="lastName" placeholder="Last Name">
                <div *ngIf="lastName.touched">
                    <div class="alert alert-danger" *ngIf="lastName.invalid && lastName.errors['required']">This field is required</div>
                </div>
            </div>
            <div formGroupName="passwords">
                <div class="form-group">
                    <input formControlName="password" type="password" class="form-control propy-control" id="password" placeholder="New Password">
                    <div *ngIf="password.touched">
                        <div class="alert alert-danger" *ngIf="password.invalid && password.errors['required']">This field is required</div>
                        <div class="alert alert-danger" *ngIf="password.invalid && password.errors['invalidPasswordSymbols']">Your pass needs to at least 8 symbols and must contain lowercase character, uppercase character and
                            a number
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input formControlName="repeatPassword" type="password" class="form-control propy-control" id="repeatPassword" placeholder="Repeat Password">
                    <div *ngIf="repeatPassword.touched">
                        <div class="alert alert-danger" *ngIf="repeatPassword.invalid && repeatPassword.errors['required']">This field is required</div>
                        <div class="alert alert-danger" *ngIf="repeatPassword.invalid && repeatPassword.errors['invalidPasswordSymbols']">Your pass needs to at least 8 symbols and must contain lowercase character, uppercase character and
                            a number
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="password.touched && repeatPassword.touched">
                <div class="alert alert-danger" *ngIf="passwords.invalid && passwords.errors != null && passwords.errors['passwordsDiffer']">The two passwords differ</div>
            </div>

            <div class="form-group checkbox">
                <label class="center-block">
                    <input type="checkbox" formControlName="iAmAnAgent">I am an agent (Check if you are an agent)
                </label>
            </div>

            <div formGroupName="agentFields" *ngIf="iAmAnAgent.value">
                <div class="form-group">
                    <input formControlName="phoneNumber" type="tel" class="form-control propy-control" id="phoneNumber" placeholder="e.g. +1 284 852 5500">
                    <div *ngIf="phoneNumber.touched">
                        <div class="alert alert-danger" *ngIf="phoneNumber.invalid && phoneNumber.errors['required']">This field is required</div>
                        <div class="alert alert-danger" *ngIf="phoneNumber.invalid && phoneNumber.errors['invalidPhoneNumber']">Your phone number appears to be invalid</div>
                    </div>
                </div>
                <div class="form-group">
                    <input formControlName="expertise" type="text" class="form-control propy-control" id="expertise" placeholder="Expertise">
                    <div *ngIf="expertise.touched">
                        <div class="alert alert-danger" *ngIf="expertise.invalid && expertise.errors['required']">This field is required</div>
                    </div>
                </div>
                <div class="form-group agency-form-group">
                    <ng2-completer formControlName="agency" [datasource]="agencyAutoCompleteDataService" fillHighlighted="false" inputId="agency"
                        inputName="agency" inputClass="form-control propy-control ng-no-margin" (selected)="onAgencySelected($event)"
                        [autoMatch]="true" placeholder="Agency" minSearchLength="3"></ng2-completer>
                </div>
                <div class="form-group">
                    <input formControlName="agencyPassword" type="password" class="form-control propy-control" id="agencyPassword" placeholder="Agency Password">
                    <div *ngIf="agencyPassword.touched">
                        <div class="alert alert-danger" *ngIf="password.invalid && password.errors['required']">This field is required</div>
                    </div>
                </div>
                <div class="form-group location-form-group">
                    <app-location-search id="location" (onLocationFound)="onLocationFound($event.latitude, $event.longitude, $event.locationAddress)"
                        [resetAfterSearch]="true" [searchOnEnter]="false"></app-location-search>
                    <div class="agent-locations col-xs-12">
                        <div class="row location" *ngFor="let location of agentLocations; let i = index">
                            <div class="col-xs-11 location-name">{{location}}</div>
                            <div class="col-xs-1 close-icon" (click)="removeAgentLocationAtIndex(i)"><i class="fa fa-times" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group checkbox">
                        <label class="center-block">
                            <input type="checkbox" formControlName="rememberMe">Remember Me
                        </label>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-block propy-control button-big" [disabled]="email.invalid || 
                                                password.invalid || 
                                                repeatPassword.invalid || 
                                                firstName.invalid || 
                                                lastName.invalid ||
                                                (iAmAnAgent.value && agentFields.invalid) ||
                                                (iAmAnAgent.value && agentLocations.length === 0) ||
                                                (iAmAnAgent.value && agencyId === null)" (click)="registerUser()">
                                                Submit</button>
        </form>
    </div>
    <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 social-signup">
        <div class="row">
            <div class="col-xs-12 login">
                <h3><a routerLink="/login">Sign in</a> or </h3>
            </div>
            <div class="col-xs-12 signup-option">
                <app-facebook-button (click)="facebookLogin()"></app-facebook-button>
            </div>
            <div class="col-xs-12 signup-option">
                <app-linkedin-button (click)="linkedInLogin()"></app-linkedin-button>
            </div>
        </div>
    </div>
</div>
