@import "../../../variables";
@import "../../../mixins";
$header-margin: 80px;
.signup {
    padding-top: $header-margin;
    background-color: darken($blue-main, 15%);
    .form-group {
        margin: 0px;
        &.agency-form-group,
        &.location-form-group {
            margin-bottom: 25px;
        }
    }
    h2.propy-custom-heading {
        color: white;
        margin-bottom: $header-margin;
    }
    .agent-locations {
        padding-top: 10px;
        .location {
            border: 1px solid $gray-light;
            margin-top: 2px;
            @include border-radius(3px);
            padding: 10px 0px;
            .location-name {
                padding-left: 10px;
            }
            .close-icon {
                cursor: pointer;
                i {
                    color: $gray-dark;
                }
            }
        }
    }
}