<div *ngIf="hasUserDataLoaded && invitationDataLoaded; then dataLoaded;else dataNotLoaded"></div>

<ng-template #dataLoaded>
    <h4>Payment</h4>
    <div class="row">
        <div class="col-xs-12">
            <div *ngIf="userIsBuyer;then isBuyer; else isNotBuyer">
            </div>
            <ng-template #isBuyer>
                <app-property-item-view [deedId]="deedId"></app-property-item-view>
                <hr id="horizontal-line">
                <div class="payment">
                    <h5><span>Please select the currency in which you want to pay for this property:</span></h5>
                    <form [formGroup]="contactAgentForm">
                        <div class="form-check abc-radio abc-radio-info payment-radio" *ngFor="let payment of payments; let i = index">
                            <input class="form-check-input" type="radio" formControlName="paymentId" [id]="payment.id"
                                [value]="payment.id" [attr.disabled]="i >= 1 ? true : null">
                            <label class="form-check-label" [for]="payment.id">
                                        <span class="agent-wrapper">
                                            <span class="name">{{payment.name}}</span>
                                        </span>
                                </label>
                        </div>
                        <div class="price">
                            <span id="price"> {{deedDetails.finalPrice.value | currencySymbol: deedDetails.finalPrice.type}}</span>
                        </div>
                    </form>


                    <div class="row payment-info">
                        <div class="col-xs-12">
                            <p><span>The ETH will be sent to address </span><span id="escrowAddress">{{escrowAddress}} <button class="btn btn-default" type="button"
                                    ngxClipboard [cbContent]="escrowAddress"><i class="fa fa-clone"></i></button></span><span> the Escrow address.</span></p>
                        </div>

                    </div>
                </div>


            </ng-template>
            <ng-template #isNotBuyer>
                <p>Waiting for buyer to make the payment.</p>
            </ng-template>
        </div>
    </div>
</ng-template>

<ng-template #dataNotLoaded>
    <h4>Loading...</h4>
</ng-template>