<div *ngIf="hasUserDataLoaded && invitationDataLoaded; then dataLoaded;else dataNotLoaded"></div>

<ng-template #dataLoaded>
    <h4>Payment</h4>
    <div class="row">
        <div class="col-xs-12">
            <div *ngIf="!userIsBuyer;else isBuyer">
                <p>Waiting for buyer to make the payment.</p>
            </div>
            <ng-template #isBuyer>
                <p><span>Click the button below in order to pay {{deedDetails.priceInWei}}
                    wei for this property. The ETH will be sent to address </span><strong>{{escrowAddress}}</strong><span> the Escrow address.</span></p>
                <button class="btn propy-control button-big" (click)="sendPayment()">Send Payment</button>
            </ng-template>
        </div>
    </div>
</ng-template>

<ng-template #dataNotLoaded>
    <h4>Loading...</h4>
</ng-template>