<div class="row sign-document-holder">
	<div [ngClass]="{'col-xs-3': escrowIsParticipant,
		 'col-xs-4': !escrowIsParticipant }"
		 *ngIf="buyerIsParticipant && currentUserRole != userRoleEnum.Buyer">
		<div class="row sign-label">
			<div class="col-xs-12 text-uppercase text-center">
				Buyer
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-uppercase">
				<div class="sign-status" *ngIf="hasBuyerSigned" [inlineSVG]="'/assets/images/signed.svg'"></div>
				<div class="sign-status" *ngIf="!hasBuyerSigned" [inlineSVG]="'/assets/images/pending.svg'"></div>
			</div>
		</div>
	</div>
	<div [ngClass]="{'col-xs-3': escrowIsParticipant,
		 'col-xs-4': !escrowIsParticipant }"
		 *ngIf="sellerIsParticipant && currentUserRole != userRoleEnum.Seller">
		<div class="row sign-label">
			<div class="col-xs-12 text-uppercase text-center">
				Seller
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-uppercase">
				<div class="sign-status" *ngIf="hasSellerSigned" [inlineSVG]="'/assets/images/signed.svg'"></div>
				<div class="sign-status" *ngIf="!hasSellerSigned" [inlineSVG]="'/assets/images/pending.svg'"></div>
			</div>
		</div>
	</div>
	<div [ngClass]="{'col-xs-3': escrowIsParticipant,
		 'col-xs-4': !escrowIsParticipant }"
		 *ngIf="brokerIsParticipant && currentUserRole != userRoleEnum.Agent">
		<div class="row sign-label">
			<div class="col-xs-12 text-uppercase text-center">
				Broker
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-uppercase">
				<div class="sign-status" *ngIf="hasBrokerSigned" [inlineSVG]="'/assets/images/signed.svg'"></div>
				<div class="sign-status" *ngIf="!hasBrokerSigned" [inlineSVG]="'/assets/images/pending.svg'"></div>
			</div>
		</div>
	</div>
	<div [ngClass]="{'col-xs-3': escrowIsParticipant,
		 'col-xs-4': !escrowIsParticipant }"
		 *ngIf="escrowIsParticipant && currentUserRole != userRoleEnum.Escrow">
		<div class="row sign-label">
			<div class="col-xs-12 text-uppercase text-center">
				Escrow
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-uppercase">
				<div class="sign-status" *ngIf="hasEscrowSigned" [inlineSVG]="'/assets/images/signed.svg'"></div>
				<div class="sign-status" *ngIf="!hasEscrowSigned" [inlineSVG]="'/assets/images/pending.svg'"></div>
			</div>
		</div>
	</div>
	<div class="sign-button-holder"
		 [ngClass]="{'col-xs-3': escrowIsParticipant,
		 'col-xs-4': !escrowIsParticipant }">
		<div class="row sign-label">
			<div class="col-xs-12 text-uppercase text-center">
				{{ currentUserRole | userRole }}
			</div>
		</div>
		<div class="row">
			<a class="btn propy-control button-small" [ngClass]="{'not-active': !showSignButton}"
			   (click)="onSignDocumentClick()">Sign</a>
		</div>
	</div>
</div>
