@import "../../../_variables";
@import "../../../_mixins";

$top-border-color: #dcdcdc;
$sign-label-color: #9ba1a4;
$signed-color: #22c230;
$pending-color: #52caf5;

.sign-document-holder {
	margin: 25px 0;
	padding: 20px 0;
	border-top: 1px solid $top-border-color;
	.sign-label {
		color: $sign-label-color;
	}
	.sign-button-holder {
		.sign-button {
			margin-top: 25px;
			a {
				width: 90%;
				margin-left: 5%;
				line-height: 30px;
			}
			.not-active {
				pointer-events: none;
				cursor: default;
				opacity: 0.8;
			}
		}
	}
	.signed-document {
		p {
			color: $signed-color;
		}
	}
	.pending-document {
		p {
			color: $pending-color;
		}
	}
}
