<div class="row property" *ngIf="property">
    <div class="col-xs-12">
        <div class="row property-carousel-holder">
            <ngx-carousel [inputs]="propertyImagesCarouselConfig" class="property-carousel">

                <ngx-tile class="property-carousel-item" NgxCarouselItem *ngFor="let url of property.imageUrls">
                    <img class="property-img" [src]="url | imageEnvPrefix | imageSize : IMAGE_WIDTH_PX: IMAGE_HEIGHT_PX: true">
                </ngx-tile>
                <button NgxCarouselPrev class='left-arrow'><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                <button NgxCarouselNext class='right-arrow'><i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </ngx-carousel>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-1">
                <div class="row" class="basic-property-info">
                    <div class="col-xs-8 text-left">
                        <h3>{{property.address}}</h3>
                    </div>
                    <div class="col-xs-4 text-right">
                        <h3>{{ property.price.value | thousandSeparator | currencySymbol: property.price.type}}
                        </h3>
                    </div>
                    <div class="col-xs-12">
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Menlo Park&nbsp;&#124;</span>&nbsp;
                        <span><i class="fa fa-circle fa-active" aria-hidden="true"></i>&nbsp;Active&nbsp;&#124;</span>&nbsp;
                        <span>Published -1 days ago</span>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>