<footer>
    <div class="col-xs-12 col-md-4 col-lg-4">
       <h6 (click)="goToCity(1)">San Francisco realty</h6>
       <h6>San Francisco realty</h6>
       <h6>San Francisco realty</h6>
       <h6>San Francisco realty</h6>
       <h6>San Francisco realty</h6>
       <h6>San Francisco realty</h6>
       <h6>San Francisco realty</h6>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">

    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="col-xs-12 footer-details text-xs-center">
            <p>
                <span>{{'footer.copyright' | translate}}</span> &copy;
                <span>{{ currentYear }}</span>
                <span>{{'footer.all-rights' | translate}}</span>
            </p>
        </div>
    </div>
</footer>