@import "../../../variables";

footer {
	position: relative;
	margin-top: -$footer-height; /* negative value of footer height */
	height: $footer-height;
	clear: both;
	padding-top: 20px;
	background-color: $white;
	
	.footer-container{
		display: flex;

		.footer-details {
		margin-top: 25px;
		p {
			color: $gray-darker;
			font-size: 12px;
			span {
				color: $text-color-main;
			}
		}
	}
	.footer-suggestion{
		&:hover {
			color: $blue-light;
			cursor: pointer;
		}
	}
	.footer-title{
		font-size: 22px;
	}
	.footer-section{
		margin-top: 40px;
	}
	}
}

@media #{$sm} {
	footer {
		height: 100px;
		.text-xs-center {
			text-align: center;
			padding-left: 0;
		}
	}
}
