@import "../../../variables";

footer {
	position: relative;
	margin-top: -$footer-height; /* negative value of footer height */
	height: $footer-height;
	clear: both;
	padding-top: 20px;
	background-color: $white;
	.footer-details {
		padding-left: 50px;
		p {
			color: $gray-darker;
			font-size: 14px;
		}
	}
}

@media #{$xs} {
	footer {
		.text-xs-center {
			text-align: center;
			padding-left: 0;
		}
	}
}
