<div class="col-xs-12">
    <div *ngIf="myPendingProperties" class="row">
        <div class="col-xs-12 accept-properties">
            <p-dataTable [value]="myPendingProperties" (onRowClick)="goToTransactionToolWorkflow($event.data)"
                styleClass="propy-deals">
                <p-column field="city" header="City"></p-column>
                <p-column field="address" header="Address"></p-column>

                <p-column field="createdAtDateTime" header="Created">
                    <ng-template let-ri="rowIndex" pTemplate="body">
                        <span>{{ (myPendingProperties[ri].addedOnTimeStamp | amFromUnix) | amTimeAgo }}</span>
                    </ng-template>
                </p-column>
                <!-- <p-column field="lastUpdatedAtDateTime" header="Updated">
                    <ng-template let-ri="rowIndex" pTemplate="body">
                        <span>{{ (myPendingProperties[ri].lastUpdated | amFromUnix) | amTimeAgo }}</span>
                    </ng-template>
                </p-column> -->
            </p-dataTable>
        </div>
    </div>
</div>