<div class="col-xs-12 general-settings">
    <form [formGroup]="changePasswordForm" class="propy-form">
        <div formGroupName="passwords">
            <div class="form-group">
                <label for="currentPassword" class="propy-label">{{ 'settings.password-settings.current-password' | translate }}</label>
                <input formControlName="currentPassword" type="password" class="form-control propy-control"
                    id="currentPassword">
                <div *ngIf="currentPassword.touched" class="propy-validation-errors-box">
                    <div class="propy-validation" *ngIf="currentPassword.invalid && currentPassword.errors['required']">{{ 'common.validation-errors.required' | translate }}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="propy-label">{{ 'settings.password-settings.new-password' | translate }}</label>
                <input formControlName="password" type="password" class="form-control propy-control"
                    id="password">
                <div *ngIf="password.touched" class="propy-validation-errors-box">
                    <div class="propy-validation" *ngIf="password.invalid && password.errors['required']">{{ 'common.validation-errors.required' | translate }}</div>
                    <div class="propy-validation" *ngIf="password.invalid && password.errors['invalidPasswordSymbols']">{{ 'common.validation-errors.invalid-password' | translate }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="repeatPassword" class="propy-label">{{ 'settings.password-settings.confirm-new-password' | translate }}</label>
                <input formControlName="repeatPassword" type="password" class="form-control propy-control"
                    id="repeatPassword">
                <div *ngIf="repeatPassword.touched" class="propy-validation-errors-box">
                    <div class="propy-validation" *ngIf="repeatPassword.invalid && repeatPassword.errors['required']">{{ 'common.validation-errors.required' | translate }}</div>
                    <div class="propy-validation" *ngIf="repeatPassword.invalid && repeatPassword.errors['invalidPasswordSymbols']">{{ 'common.validation-errors.invalid-password' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="password.touched && repeatPassword.touched">
            <div class="propy-validation" *ngIf="passwords.invalid && passwords.errors != null && passwords.errors['passwordsDiffer']">{{ 'common.validation-errors.passwords-differ' | translate }}</div>
        </div>
        <button type="button" class="btn propy-control button-big btn-edit" [disabled]=" 
            currentPassword.invalid ||
            password.invalid || 
            repeatPassword.invalid ||
            (passwords.errors != null && passwords.errors['passwordsDiffer'])" (click)="changePassword()">{{ 'list-property.submit-button' | translate }}</button>
    </form>
</div>