<div class="col-xs-12">
    <form [formGroup]="subscriptionsPropertyForm" class="propy-form">
        <div class="row row-section-holder">
            <div class="col-xs-12 text-center">
                <h2>{{ 'settings.preferences.preferences-section' | translate }}</h2>
            </div>
            <div class="col-xs-6">
                <div class="form-group checkbox-holder text-center">
                    <p-checkbox formControlName="notifications" styleClass="notifications-checkbox" label="{{'settings.preferences.notifications' | translate}}"
                        binary="true"></p-checkbox>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group checkbox-holder text-center">
                    <p-checkbox formControlName="newsletter" styleClass="newsletter-checkbox" label="{{'settings.preferences.newsletter' | translate}}"
                        binary="true"></p-checkbox>
                </div>
            </div>
        </div>
        <div class="row save-submit-holder">
            <div class="col-xs-4 col-xs-offset-4">
                <button type="button" class="btn btn-block propy-control button-big button-mobile"
                    (click)="saveChanges()">{{'common.label.save-changes' | translate }}</button>
            </div>
        </div>
    </form>
</div>