@import "../../../variables";
@import "../../../mixins";

$section-border-color: #F0F0F0;
.my-listed-properties {
	.listing-row {
		padding: 20px 0;
		border-top: 1px solid $section-border-color;
		&:first-child {
			padding-top: 0;
			border-top: none;
		}
	}
	.listing-buttons {
		@media #{$md} {
			margin-top: 15px;
		}
		.row {
			margin: 0;
			a {
				display: block;
				height: 36px;
				line-height: 36px;
				width: auto;
				border: none;
				text-align: center;
				cursor: pointer;
				&.edit-listing {
					margin-bottom: 10px;
					&:hover {
						text-decoration: none;
					}
				}
				&.mark-sold-listing {
					background: $green-dark;
					&:hover {
						background: $green-sec;
						text-decoration: none;
					}
				}
			}
		}
	}
	.property-sold {
		opacity: 0.2;
	}
}
