<div class="row how-propy-works-holder">
	<h3 class="text-center">{{ 'landing.how-propy-works.heading' | translate }}.</h3>
	<h6 class="text-center">{{ 'landing.how-propy-works.sub-heading' | translate }}.</h6>
	<p class="propy-play-icon" [ngClass]="{'hidden': videoThumbnailClicked}"></p>
	<div class="carousel-holder">
		<ngx-carousel
			[inputs]="carouselBanner"
			(onMove)="onVideoChanged($event)"
			[moveToSlide]="1">
			<ngx-item NgxCarouselItem>
				<div
					[ngStyle]="{'background-image': 'url(' + propysOfficeBulgariaThumb + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}"
				></div>
				<div class="active"
					 [ngStyle]="{'background-image': 'url(' + interviewCNBCAfricaThumb + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}"
					 (click)="thumbnailInterviewClicked()"
					 [ngClass]="{'thumbnailClicked': videoThumbnailClicked}">
					<iframe width="100%" height="300px"
							allowfullscreen
							[src]="interviewCNBCAfricaUrl | safeURL"
							frameborder="0"></iframe>
				</div>
				<div
					[ngStyle]="{'background-image': 'url(' + bloombergTvThumb + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}"
				></div>
				<h5 class="text-center">Natalia Karayaneva CEO of Propy Interview on CNBC Africa</h5>
			</ngx-item>
			<ngx-item NgxCarouselItem>
				<div
					[ngStyle]="{'background-image': 'url(' + interviewCNBCAfricaThumb + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}"
				></div>
				<div class="active"
					 [ngStyle]="{'background-image': 'url(' + bloombergTvThumb + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}"
					 (click)="thumbnailBloombergClicked()"
					 [ngClass]="{'thumbnailClicked': videoThumbnailClicked}">
					<iframe id="video_bloomberg" width="100%" height="300px"
							frameborder="0"
							allowfullscreen
							[src]="bloombergTvUrl | safeURL"></iframe>
				</div>
				<div
					[ngStyle]="{'background-image': 'url(' + propysOfficeBulgariaThumb + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}"
				></div>
				<h5 class="text-center">Propy on Bloomberg TV</h5>
			</ngx-item>
			<ngx-item NgxCarouselItem>
				<div
					[ngStyle]="{'background-image': 'url(' + bloombergTvThumb + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}"
				></div>
				<div class="active"
					 [ngStyle]="{'background-image': 'url(' + propysOfficeBulgariaThumb + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}"
					 (click)="thumbnailBGOfficeClicked()"
					 [ngClass]="{'thumbnailClicked': videoThumbnailClicked}">
					<iframe width="100%" height="300px"
							frameborder="0"
							allowfullscreen
							[src]="propysOfficeBulgariaUrl | safeURL"></iframe>
				</div>
				<div
					[ngStyle]="{'background-image': 'url(' + interviewCNBCAfricaThumb + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}"
				></div>
				<h5 class="text-center">Sneak peak of Propy's office in Bulgaria</h5>
			</ngx-item>
			<button NgxCarouselPrev class='leftRs'>&lt;</button>
			<button NgxCarouselNext class='rightRs'>&gt;</button>
		</ngx-carousel>
	</div>
</div>
