@import "../../../variables";
@import "../../../mixins";

.list-property {
	h1, h2 {
		color: $white;
	}
	.invite-link {
		padding-left: 30px;
		margin-bottom: 40px;
		font-size: 20px;
	}
	.propy-form {
		margin-top: 40px;
		textarea {
			width: 100%;
			@include border-radius(4px);
			border-color: $border-default;
		}
		.acceptedCurrencies {
			width: 100%;
		}
		.ui-fileupload {
			.ui-fileupload-buttonbar {
				.ui-fileupload-choose {
					background-color: $blue-main;
					border: none;
					&:hover {
						background-color: $blue-light;
					}
				}
			}
		}
		.ui-slider {
			background-color: $gray-lighter;
			height: 16px;
			cursor: pointer;
			.ui-slider-handle {
				cursor: pointer;
				background: $blue-main;
				@include border-radius(4px);
			}
		}
		a.toc {
			color: black;
			text-decoration: underline;
		}
	}
	.propy-validation {
		margin: 0px;
	}
}
