<form [formGroup]="blockchainRecordForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-xs-12 col-sm-4 col-sm-offset-2">
        <input formControlName="proWalletPassword" type="password" class="form-control propy-control"
            id="name" placeholder="{{ 'settings.my-pro-wallet.wallet-password' | translate }}">
    </div>
    <div class="col-xs-12 col-sm-4">
        <button class="btn btn-block propy-control button-big" [disabled]="blockchainRecordForm.invalid || !buttonRecordEnabled">
      {{ 'common.label.record-to-blockchain' | translate }}
    </button>
    </div>
</form>