<div *ngIf="hasDataLoaded; then dataLoaded;else dataNotLoaded"></div>
<ng-template #dataLoaded>
    <div *ngIf="previewLink; then hasPreviewLink; else noPreviewLink">
    </div>
    <ng-template #hasPreviewLink>
        <div class="row text-center" *ngIf="shouldSendToBlockchain;else noBlockChainYet">
            <div *ngIf="userIsSeller;else notSellerUser">
                <i>Status: Waiting For You To Record The Affidavit To The Blockchain. Please use the button below!</i>
                <br>
                <app-record-blockchain-form (onRecord)="onRecordClick($event)"></app-record-blockchain-form>
            </div>
            <ng-template #notSellerUser>
                <i>Status: Waiting for Seller To Record The Affidavit To The Blockchain</i>
            </ng-template>
        </div>
        <ng-template #noBlockChainYet></ng-template>
        <div class="row">
            <div class="col-xs-12 text-center">
                <app-document-preview [previewTitle]="affidavitTitle" [previewSubtitle]="previewAffidavitSubtitle"
                    [previewLink]="previewLink"></app-document-preview>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <app-sign-document [hasBuyerSigned]="hasBuyerSigned" [hasSellerSigned]="hasSellerSigned"
                    [showSignButton]="shouldShowSignButton()" [documentType]="deedDocumentTypeEnum.Affidavit"
                    (onSignDocument)="signDocument()"></app-sign-document>
            </div>
        </div>
    </ng-template>

    <ng-template #noPreviewLink>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h5>{{waitingTitle}}</h5>
            </div>
        </div>
    </ng-template>
</ng-template>
<ng-template #dataNotLoaded>
    <h4>Loading...</h4>
</ng-template>