<div *ngIf="hasDataLoaded; then dataLoaded;else dataNotLoaded"></div>
<ng-template #dataLoaded>
    <div class="invitation" *ngIf="invitationDataLoaded">
        <div *ngIf="transactionDetails != null && transactionDetails.status == TRANSACTION_STATUSES.SUCCESS">
            <div class="tx-result tx-success"><i class="fa fa-check-circle"></i> Action successfully recorded to the
                Blockchain.
            </div>
            <div>Here is your receipt:</div>
            <a [href]="transactionDetails.txHash | etherscan" target="_blank" class="tx-link">{{transactionDetails.txHash
				|
				etherscan}}</a>
        </div>
        <div *ngIf="isWaitingForReservation;else notWaiting">
            <div *ngIf="transactionDetails != null; else waitingLabel">
                <div *ngIf="userRole === userRoleEnum.SellerBroker; else notSellerBroker">
                    <div *ngIf="transactionDetails != null && transactionDetails.status == TRANSACTION_STATUSES.FAILED">
                        <div class="tx-result tx-fail">
                            <i class="fa fa-times-circle"></i><span>Your Blockchain action was not successfully recorded. Please try again.</span>
                        </div>
                        <div>Here is your receipt:</div>
                        <a [href]="transactionDetails.txHash | etherscan" target="_blank" class="tx-link">{{transactionDetails.txHash
						|
						etherscan}}</a>
                    </div>
                    <div *ngIf="transactionDetails != null && transactionDetails.status == TRANSACTION_STATUSES.PENDING">
                        <div class="tx-result tx-pending"><i class="fa fa-clock-o"></i>Your action is being recorded
                            on the Blockchain.
                        </div>
                        <div>To check the current status, please follow the link below.</div>
                        <a [href]="transactionDetails.txHash | etherscan" target="_blank" class="tx-link">{{transactionDetails.txHash
						|
						etherscan}}</a>
                    </div>
                </div>
            </div>
            <ng-template #notSellerBroker>
                <div class="text-center">
                    <h5>Waiting for blockchain reservation</h5>
                </div>
            </ng-template>
            <ng-template #waitingLabel>
                <div class="text-center">
                    <h5>Waiting for blockchain reservation</h5>
                </div>
            </ng-template>
        </div>
        <ng-template #notWaiting>
            <h3>Invitation to Deal</h3>
            <app-property-item-view [deedId]="deedId"></app-property-item-view>
            <div *ngIf="deed.status >= deedStatus.reservedOnBlockchain; then invitationPassed; else invitationNotPass">
            </div>
            <ng-template #invitationNotPass>
                <div *ngIf="arePartiesInvited; then partiesInvited; else partiesNotInvited"></div>
                <ng-template #partiesInvited>
                    <hr>
                    <div *ngIf="userRole === userRoleEnum.SellerBroker && !allPartiesAccepted">
                        <h4>Waiting for all parties to accept</h4>
                        <hr>
                    </div>
                    <div *ngIf="userRole === userRoleEnum.Seller">
                        <div *ngIf="!hasSellerResponded; else waitingForAllOther;">
                            <span>You are invited as a <strong class="role">Seller</strong>, respond to this invitation</span>
                            <app-transaction-tool-invite-respond (onAccept)="partyAccept()" (onReject)="partyReject($event)"></app-transaction-tool-invite-respond>
                        </div>
                    </div>
                    <div *ngIf="userRole === userRoleEnum.Buyer">
                        <div *ngIf="!hasBuyerResponded; else waitingForAllOther;">
                            <span>You are invited as a <strong
								class="role">Buyer</strong>, respond to this invitation</span>
                            <app-transaction-tool-invite-respond (onAccept)="partyAccept()" (onReject)="partyReject($event)"></app-transaction-tool-invite-respond>
                        </div>
                    </div>
                    <div *ngIf="userRole === userRoleEnum.TitleCompany">
                        <div *ngIf="!hasTitleCompanyResponded; else waitingForAllOther;">
                            <span>You are invited as a <strong class="role">Title Company</strong>, respond to this invitation</span>
                            <app-transaction-tool-invite-respond (onAccept)="partyAccept()" (onReject)="partyReject($event)"></app-transaction-tool-invite-respond>
                        </div>
                    </div>
                    <div *ngIf="userRole === userRoleEnum.BuyerBroker">
                        <div *ngIf="!hasBuyerBrokerResponded; else waitingForAllOther;">
                            <span>You are invited as a <strong class="role">Buyer Broker</strong>, respond to this invitation</span>
                            <app-transaction-tool-invite-respond (onAccept)="partyAccept()" (onReject)="partyReject($event)"></app-transaction-tool-invite-respond>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div *ngIf="disclosuresLink;then previewLink; else noPreviewLink;"></div>
                    </div>
                    <ng-template #waitingForAllOther>
                        <h4>Waiting for all parties to accept</h4>
                    </ng-template>
                </ng-template>

                <ng-template #partiesNotInvited>
                    <div *ngIf="userRole === userRoleEnum.SellerBroker;then isSellerBroker; else isNotSellerBroker"></div>
                    <ng-template #isSellerBroker>

                        <form [formGroup]="inviteForm">
                            <div class="row price-row">
                                <div class="col-xs-2 col-xs-offset-6 text-right">
                                    <span>FINAL PRICE</span>
                                </div>
                                <div class="form-group col-xs-2">
                                    <input formControlName="priceInEth" type="number" class="form-control propy-control"
                                        id="priceInEth">
                                    <div *ngIf="priceInEth.touched">
                                        <div class="propy-validation" *ngIf="priceInEth.invalid && priceInEth.errors['required']">This field is required
                                        </div>
                                        <div class="propy-validation" *ngIf="priceInEth.invalid && priceInEth.errors['invalidEthNumber']">Please add a valid number
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                    <span>ETH</span>
                                </div>

                            </div>
                            <hr>
                            <h4>Invite Participants</h4>
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6 col-md-3 email-input">
                                    <label for="sellerEmail">Seller</label>
                                    <input formControlName="sellerEmail" type="email" class="form-control propy-control"
                                        id="sellerEmail" placeholder="Seller email">
                                    <div *ngIf="sellerEmail.touched">
                                        <div class="propy-validation" *ngIf="sellerEmail.invalid && sellerEmail.errors['required']">This field is required
                                        </div>
                                        <div class="propy-validation" *ngIf="sellerEmail.invalid && sellerEmail.errors['email']">Please enter a valid email
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6 col-md-3 email-input">
                                    <label for="buyerEmail">Buyer</label>
                                    <input formControlName="buyerEmail" type="email" class="form-control propy-control"
                                        id="buyerEmail" placeholder="Buyer email">
                                    <div *ngIf="buyerEmail.touched">
                                        <div class="propy-validation" *ngIf="buyerEmail.invalid && buyerEmail.errors['required']">This field is required
                                        </div>
                                        <div class="propy-validation" *ngIf="buyerEmail.invalid && buyerEmail.errors['email']">Please enter a valid email
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6 col-md-3 email-input">
                                    <label for="buyerAgentEmail">Buyer broker</label>
                                    <input formControlName="buyerAgentEmail" type="email" class="form-control propy-control"
                                        id="buyerAgentEmail" placeholder="Buyer broker email">
                                    <div *ngIf="buyerAgentEmail.touched">
                                        <div class="propy-validation" *ngIf="buyerAgentEmail.invalid && buyerAgentEmail.errors['required']">This field is required
                                        </div>
                                        <div class="propy-validation" *ngIf="buyerAgentEmail.invalid && buyerAgentEmail.errors['email']">Please enter a valid email
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group" class="form-group col-xs-12 col-sm-6 col-md-3 email-input">
                                    <label for="titleCompanyEmail">Title company</label>
                                    <input formControlName="titleCompanyEmail" type="email" class="form-control propy-control"
                                        id="titleCompanyEmail" placeholder="Title company email">
                                    <div *ngIf="titleCompanyEmail.touched">
                                        <div class="propy-validation" *ngIf="titleCompanyEmail.invalid && titleCompanyEmail.errors['required']">
                                            This field is required
                                        </div>
                                        <div class="propy-validation" *ngIf="titleCompanyEmail.invalid && titleCompanyEmail.errors['email']">
                                            Please enter a valid email
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                    <ng-template #isNotSellerBroker>
                    </ng-template>
                    <hr>
                    <div class="col-xs-12">
                        <div *ngIf="disclosuresLink;then previewLink; else noPreviewLink;"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 buttons-holder">
                            <button type="button" [disabled]="inviteForm.invalid" [ngClass]="{disabled : !disclosuresLink}"
                                class="btn propy-control invite-btn button-big" (click)="onInvite()">Invite &
								Continue
							</button>
                            <p-confirmDialog key="cancelTransactionDialog"></p-confirmDialog>
                            <button type="button" class="btn propy-control button-big btn-white btn-cancel" (click)="showCancelDialog()">{{
								'common.label.cancel' | translate }}
							</button>
                        </div>
                    </div>
                </ng-template>
            </ng-template>
            <ng-template #invitationPassed>
                <div class="row invite-passed-signers">
                    <div class="col-xs-3">
                        <div class="row text-center">
                            <div class="col-xs-12">Buyer</div>
                        </div>
                        <div class="row text-center">
                            <div class="col-xs-12" [inlineSVG]="'/assets/images/signed.svg'"></div>
                            <p>Accepted</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row text-center">
                            <div class="col-xs-12">Buyer broker</div>
                        </div>
                        <div class="row text-center">
                            <div class="col-xs-12" [inlineSVG]="'/assets/images/signed.svg'"></div>
                            <p>Accepted</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row text-center">
                            <div class="col-xs-12">Seller</div>
                        </div>
                        <div class="row text-center">
                            <div class="col-xs-12" [inlineSVG]="'/assets/images/signed.svg'"></div>
                            <p>Accepted</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row text-center">
                            <div class="col-xs-12">Title company</div>
                        </div>
                        <div class="row text-center">
                            <div class="col-xs-12" [inlineSVG]="'/assets/images/signed.svg'"></div>
                            <p>Accepted</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div *ngIf="disclosuresLink;then previewLink; else noPreviewLink;"></div>
                    </div>
                </div>
            </ng-template>
            <ng-template #previewLink>
                <div class="row reupload-holder" *ngIf="deed.status < deedStatus.Disclosures && userRole === userRoleEnum.SellerBroker">
                    <div class="col-xs-12">
                        <div class="row reupload-button-holder">
                            <div class="col-xs-12">
                                <button type="button" *ngIf="!reuploadingDocumentActivated" class="btn propy-control button-big pull-right"
                                    (click)="reuploadingDocumentActivated = true">Reupload
								</button>
                                <button type="button" *ngIf="reuploadingDocumentActivated && !processingUpload" class="btn propy-control cancel-reuploading button-big btn-white pull-right"
                                    (click)="reuploadingDocumentActivated = false">Cancel reuploading
								</button>
                            </div>
                        </div>
                        <div class="row" *ngIf="reuploadingDocumentActivated">
                            <div class="col-xs-12">
                                <app-upload-document [uploadTitle]="disclosuresTitle" [uploadSubtitle]="uploadDisclosuresSubtitle"
                                    (onUploadDocumentApplied)="uploadDocument($event)"></app-upload-document>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!reuploadingDocumentActivated">
                    <div class="col-xs-12">
                        <app-document-preview previewTitle="Disclosures" previewLink="{{ disclosuresLink }}"></app-document-preview>
                    </div>
                </div>
            </ng-template>
            <ng-template #noPreviewLink>
                <app-upload-document [uploadTitle]="disclosuresTitle" [uploadSubtitle]="uploadDisclosuresSubtitle"
                    (onUploadDocumentApplied)="uploadDocument($event)"></app-upload-document>
            </ng-template>
        </ng-template>
    </div>
</ng-template>
<ng-template #dataNotLoaded>
    <h4>Loading...</h4>
</ng-template>