<div class="col-xs-12 my-pro-wallet" *ngIf="userTransactionsHistory">
	<div class="transaction-holder">
		<div class="row transaction-header text-center">
			<i class="fa fa-list-alt"></i>
			{{ 'settings.my-pro-wallet.transaction-heading' | translate }}
		</div>
		<div *ngIf="userTransactionsHistory.transactions.length > 0; else noTransactionHolder">
			<div class="row transaction-row"
				 *ngFor="let transaction of userTransactionsHistory.transactions">
				<div class="col-xs-12">
					<div class="input-group">
						<input readonly type="text" class="form-control" value="{{transaction.txId}}" #txIdInput>
						<span class="input-group-btn">
						<button class="btn btn-default" type="button"
								[ngxClipboard]="txIdInput"><i class="fa fa-clone"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<ng-template #noTransactionHolder>
			<div class="row tansaction-row">
				<div class="col-xs-12 text-center">
					<h4>{{ 'settings.my-pro-wallet.no-transactions' | translate }}</h4>
				</div>
			</div>
		</ng-template>
	</div>
</div>
