<div class="col-xs-12 my-pro-wallet" *ngIf="userTransactionsHistory">
	<div class="transaction-holder">
		<div class="row transaction-header text-center">
			<div class="col-xs-12">
				<i class="fa fa-list-alt"></i>
				{{ 'settings.my-pro-wallet.transaction-heading' | translate }}
			</div>
		</div>
		<div class="row" *ngIf="userTransactionsHistory.transactions.length > 0; else noTransactionHolder">
			<div class="col-xs-12 transaction-record"
				 *ngFor="let transaction of userTransactionsHistory.transactions"
				 [ngClass]="{'tx-pending': transaction.status == 0, 'tx-completed': transaction.status == 1,
						'tx-rejected': transaction.status == 2}">
				<div class="row">
					<div class="col-xs-1 label-holder">
						{{ 'settings.my-pro-wallet.transaction-number' | translate }}
					</div>
					<div class="col-xs-11">
						<div class="input-group">
							<input readonly type="text" class="form-control" value="{{transaction.txId}}" #txIdInput>
							<span class="input-group-btn">
						<button class="btn btn-default" type="button"
								[ngxClipboard]="txIdInput"><i class="fa fa-clone"></i></button>
						</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<span class="label-span">
							{{ 'settings.my-pro-wallet.status' | translate}}
						</span>
						<span class="value">
							{{ transaction.status | transactionStatusLocalizeKey | translate }}
						</span>
					</div>
					<div class="col-xs-7">
						<span class="label-span">
							{{ 'settings.my-pro-wallet.reason' | translate}}
						</span>
						<span class="value">
							{{ transaction.status | transactionRewardLocalizeKey | translate }}
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<span class="label-span">
							{{ 'settings.my-pro-wallet.amount' | translate }}
						</span>
						<span class="value">
							{{ transaction.amount }} {{ 'settings.my-pro-wallet.pro-currency' | translate }}
						</span>
					</div>
				</div>
			</div>
		</div>
		<ng-template #noTransactionHolder>
			<div class="row tansaction-row">
				<div class="col-xs-12 text-center">
					<h4>{{ 'settings.my-pro-wallet.no-transactions' | translate }}</h4>
				</div>
			</div>
		</ng-template>
	</div>
</div>
