@import '../../../mixins';
@import '../../../variables';
div.alert-error {
    background-color: $gray-lighter;
    border-color: $red-main;
    color: $red-main;
    strong {
        font-weight: 400;
    }
    font-family: $font-family-open-sans;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 55px;
    z-index: 3000;
    border-top: none;
    @include border-radius-separate(0px, 0px, 5px, 5px);
    @include box-shadow();
}