<div *ngIf="previewLink; then hasPreviewLink; else noPreviewLink">
</div>
<ng-template #hasPreviewLink>
    <div class="row">
        <div class="col-xs-12 text-center">
            <app-document-preview [previewLink]="previewLink"></app-document-preview>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <app-sign-document [hasBuyerSigned]="hasBuyerSigned" [hasSellerSigned]="hasSellerSigned" [hasBrokerSigned]="hasBrokerSigned"
                [signButtonLabel]="signDocumentButtonLabel" [showSignButton]="shouldShowSignButton()" (onSignDocument)="signDocument()"></app-sign-document>
        </div>
    </div>
</ng-template>

<ng-template #noPreviewLink>
    <div class="row" *ngIf="userIsSeller; then isSeller; else isNotSeller">
    </div>

    <ng-template #isSeller>
        <div class="col-xs-12 text-center">
            <app-upload-document (onUploadDocumentApplied)="uploadDocument($event)"></app-upload-document>
        </div>
    </ng-template>

    <ng-template #isNotSeller>
        <div class="col-xs-12 text-center">
            <h5>{{waitingTitle}}</h5>
        </div>
    </ng-template>
</ng-template>