@import "../../../variables";
@import "../../../mixins";
$links-to-languages-distance: 120px;
$header-margin: 60px;
$header-margin-sm: 15px;
.propy-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2000;
    &.navbar {
        height: 52px;
        margin: 0px;
        @include border-radius(0px);
        @include transition(background-color 300ms linear);
        .navbar-brand {
            font-weight: 400;
            text-transform: uppercase;
            font-size: 22px;
            letter-spacing: .1em;
            color: $black;
        }
    }
    .nav {
        &.propy-links {
            li {
                p.account-name {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                &.separator {
                    padding-right: $links-to-languages-distance;
                    @media #{$xs} {
                        padding-right: 0px;
                    }
                }
                a {
                    font-size: $font-size-medium;
                    color: $black;
                }
            }
        }
        .dropdown {
            a.dropdown-toggle {
                height: 40px;
                background-color: transparent;
                .fa {
                    position: relative;
                    margin-left: 5px;
                    font-size: 10px;
                    top: -2px;
                    color: $button-filter-arrow;
                }
            }
            a.language-selector {
                font-size: $font-size-medium;
                letter-spacing: 1px;
                cursor: pointer;
                background-color: transparent;
            }
            .dropdown-menu {
                min-width: 80px;
                padding: 0px;
                a.language-selector {
                    text-align: center;
                    font-weight: 100;
                    &:hover {
                        background-color: rgba(76, 202, 247, 0.1);
                    }
                }
            }
        }
    }
    &.propy-header-top {
        &.navbar {
            &.navbar-default {
                background-color: transparent;
                border: none;
            }
        }
        .nav {
            &.propy-links {
                li {
                    a {
                        color: $black;
                        &:hover {
                            color: darken($black, 15%);
                        }
                    }
                }
            }
            .dropdown {
                .dropdown-menu {
                    background-color: transparent;
                }
                a.dropdown-toggle {
                    span {
                        color: $black;
                    }
                    &:hover {
                        span {
                            color: darken($black, 15%);
                        }
                    }
                }
            }
            @media #{$xs} {
                background-color: $white;
                &.propy-links {
                    li {
                        a {
                            color: $black;
                            &:hover {
                                color: darken($black, 15%);
                            }
                        }
                    }
                }
                .dropdown {
                    .dropdown-menu {
                        background-color: transparent;
                    }
                    a.dropdown-toggle {
                        span {
                            color: $black;
                        }
                        &:hover {
                            span {
                                color: darken($black, 15%);
                            }
                        }
                    }
                }
            }
        }
    }
    &.propy-header-scrolled {
        &.navbar {
            &.navbar-default {
                background-color: rgba($color: $white, $alpha: 0.95);
                @media #{$sm} {
                    background-color: $white;
                }
                border: none;
            }
        }
        .nav {
            &.propy-links {
                p.account-name {
                    color: $black;
                }
                li {
                    a {
                        color: $black;
                        &:hover {
                            color: darken($black, 10%);
                        }
                    }
                }
            }
            .dropdown {
                .dropdown-menu {
                    background-color: rgba($color: $white, $alpha: 0.95);
                    ;
                }
            }
        }
    }
    .loc-search-nav {
        margin-top: 8px;
    }
}