<nav class="navbar navbar-default propy-header propy-header-top" [ngClass]="{'propy-header-top': !isHeaderScrolledPastThreshold, 'propy-header-scrolled': isHeaderScrolledPastThreshold}">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand" routerLink="/"><img alt="Propy" [src]="logoImage"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right propy-links" *ngIf="hasUserLoaded">
                <li *ngIf="isUserAnonymous">
                    <a routerLink="/login" [queryParams]="{redirect: componentUrl}" routerLinkActive="active">{{
						'common.label.login' | translate }}</a>
                </li>
                <li *ngIf="isUserAnonymous">
                    <a routerLink="/signup" [queryParams]="{redirect: componentUrl}" routerLinkActive="active">{{
						'common.label.signup' | translate }}</a>
                </li>
                <li *ngIf="!isUserAnonymous">
                    <a href="" routerLinkActive="active" (click)="logout($event)">{{
                            'common.label.logout' | translate }}</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" ngClass="{{translate.currentLang}}"
                        aria-expanded="false">{{translate.currentLang}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let lang of translate.getLangs()">
                            <a #langSelect (click)="selectLanguage(langSelect.rel)" [rel]="lang" ngClass="{{lang}}" [class.active]="lang === translate.currentLang"
                                *ngIf="lang != translate.currentLang">{{ lang }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>