<div class="row">
    <div class="col-xs-3 overview-icon">
        <ng-content select="[overview-icon]"></ng-content>
    </div>
    <div class="col-xs-8 overview-content">
        <div class="row">
            <div class="col-xs-12 overview-label">
                <ng-content select="[overview-label]"></ng-content>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 overview-text">
                <ng-content select="[overview-text]"></ng-content>
            </div>
        </div>
    </div>
</div>