<div class="col-xs-12 properties-list">
	<div class="row filters-and-switches">
		<div class="col-xs-12 col-lg-9 filters">
			<button type="text" pButton (click)="priceFilter.toggle($event)"
					class="filter-button"
					[ngClass]="{'active': filterSelectionActivated}">
				{{ 'filters.price' | translate }}
				<span class="glyphicon"
					  [ngClass]="{'glyphicon-menu-up': filterSelectionActivated, 'glyphicon-menu-down': !filterSelectionActivated}"></span>
			</button>

			<p-overlayPanel #priceFilter styleClass="range-filter" (onAfterShow)="toggleFilterSelectionClass()"
							(onBeforeHide)="toggleFilterSelectionClass()">
				<div class="arrow-up arrow-price-filter"></div>
				<div class="row input-button-holder">
					<input #minLimit type="text"
						   (ngModelChange)="changePriceMinRangeInput(minLimit)"
						   [ngModel]="priceMinRange | thousandSeparator"
						   [ngClass]="{'slider-dragging': sliderDraggingMin}"/>
					<span>
						{{ 'filters.to' | translate }}
					</span>
					<input #maxLimit type="text"
						   [ngModel]="priceMaxRange | thousandSeparator"
						   (ngModelChange)="changePriceMaxRangeInput(maxLimit)"
						   [ngClass]="{'slider-dragging': sliderDraggingMax}"/>
					<div class="button-holder">
						<button class="apply-filter" (click)="applyPriceFilter(priceFilter)"> {{ 'filters.apply' |
							translate }}
						</button>
						<button class="cancel-filter" (click)="priceFilter.hide()"> {{ 'filters.cancel' | translate }}
						</button>
					</div>
				</div>
				<p-slider [(ngModel)]="priceRangeValue"
						  (onChange)="handlePriceChange($event)"
						  (onSlideEnd)="handleSlideEnd($event)"
						  [max]="DEFAULT_PRICE_MAX_RANGE" [step]="DEFAULT_PRICE_STEP"
						  [range]="true"></p-slider>
			</p-overlayPanel>
		</div>
		<div class="col-lg-3 hidden-xs hidden-sm hidden-md">
			<p-selectButton [options]="modes" [(ngModel)]="listMode"
							(onOptionClick)="onModeSwitched($event.option.value)"
							styleClass="list-mode-switcher"></p-selectButton>
		</div>
	</div>
	<div class="row cards-list" [ngClass]="{'apply-opacity': filterSelectionActivated}">
		<div class="col-xs-12" *ngFor="let property of properties" [ngClass]="{'col-lg-6': theme === 'grid'}">
			<app-new-property-component [property]="property" [showArrow]=false
										[theme]="cardsTheme"></app-new-property-component>
		</div>
	</div>

</div>
