<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 settings">
	<h3>{{ 'settings.title' | translate }}</h3>
	<p-tabView (onChange)="setQueryParamForSelectedTab($event.index)" orientation="left">
		<p-tabPanel header="{{ 'settings.headers.general-settings' | translate }}"
					[selected]="selectedTab === settingsTabs.GENERAL"
					headerStyleClass="settings-panel-header" [cache]="false">
			<ng-template pTemplate="content">
				<app-general-settings
					[generalTabIsActive]="selectedTab === settingsTabs.GENERAL"></app-general-settings>
			</ng-template>
		</p-tabPanel>
		<p-tabPanel header="{{ 'settings.headers.my-listed-properties' | translate }}"
					[selected]="selectedTab === settingsTabs.MY_LISTINGS"
					headerStyleClass="settings-panel-header" [disabled]='!isEmailVerified'>
			<app-my-listed-properties></app-my-listed-properties>
		</p-tabPanel>
		<p-tabPanel header="{{ 'settings.headers.pro-wallet' | translate }}"
					[selected]="selectedTab === settingsTabs.WALLET"
					headerStyleClass="settings-panel-header" [disabled]='!isEmailVerified' [cache]="false">
			<ng-template pTemplate="content">
				<app-pro-wallet></app-pro-wallet>
			</ng-template>
		</p-tabPanel>
		<p-tabPanel header="{{ 'settings.headers.my-deals' | translate }}"
					[selected]="selectedTab === settingsTabs.MY_DEALS"
					headerStyleClass="settings-panel-header" [disabled]='!isEmailVerified' [cache]="false">
			<ng-template pTemplate="content">
				<app-my-deals></app-my-deals>
			</ng-template>
		</p-tabPanel>
		<p-tabPanel *ngIf="shouldShowPassword" header="{{ 'settings.headers.password-settings' | translate }}"
					[selected]="selectedTab === settingsTabs.PASSWORD" headerStyleClass="settings-panel-header"
					[disabled]='!isEmailVerified'>
			<app-change-password></app-change-password>
		</p-tabPanel>
		<p-tabPanel header="{{ 'settings.headers.refferal-link' | translate }}"
					[selected]="selectedTab === settingsTabs.REFFERAL_LINK"
					headerStyleClass="settings-panel-header" [disabled]='!isEmailVerified'>
			<app-refferal-link></app-refferal-link>
		</p-tabPanel>
		<!--<p-tabPanel header="{{ 'settings.headers.email-notifications-settings' | translate }}" headerStyleClass="settings-panel-header">
            {{ 'settings.headers.email-notifications-settings' | translate }}
        </p-tabPanel>
        -->
	</p-tabView>
</div>
