<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 settings">
    <h3>Account settings</h3>
    <p-tabView orientation="left">
        <p-tabPanel header="General settings" [selected]="true" headerStyleClass="settings-panel-header">
            Content 1
        </p-tabPanel>
        <p-tabPanel header="Email notifications" headerStyleClass="settings-panel-header">
            Content 2
        </p-tabPanel>
        <p-tabPanel header="Password" headerStyleClass="settings-panel-header">
            Content 3
        </p-tabPanel>
    </p-tabView>
</div>