@import "../../../variables";
@import "../../../mixins";

$selected-tab-color: #EDF1F3;
.settings {
	h3 {
		font-weight: 400;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.ui-widget {
		font-family: $font-family-open-sans;
	}
	.ui-tabview {
		background-color: $white;
		padding: 35px;
		@include box-shadow(0px, 1px, 3px, rgba(0, 0, 0, 0.14));
		.ui-tabview-panels {
			padding-left: 60px;
			.ui-tabview-panel {
				padding-top: 0px;
			}
			@media #{$xs} {
				float: none;
				width: 100%;
				padding-left: 0;
				.propy-form {
					padding: 0;
				}
			}
		}
		.ui-tabview-nav {
			border: 0;
			@media #{$xs} {
				float: none;
				width: 100%;
				height: auto;
				margin-bottom: 20px;
			}
			> li.settings-panel-header {
				float: left;
				height: 44px;
				line-height: 23px;
				font-size: $font-size-medium;
				font-weight: 400;
				background-color: $white;
				border: 0px;
				border-bottom: 1px solid $gray-lighter;
				color: #93A4AB;
				padding: 0px 5px;
				position: relative;
				@include border-radius(0px);
				width: 100%;
				max-width: 90%;
				a {
					width: 100%;
					span {
						font-weight: 400;
						@include ellipsis(100%);
					}
					@media #{$xs} {
						padding-left: 30px;
					}
				}
				&:hover {
					background-color: lighten($selected-tab-color, 2%);
					border: 0px;
					@include border-radius-separate(5px, 50px, 5px, 50px);
					cursor: pointer;
					max-width: 100%;
				}
				&.ui-tabview-selected {
					color: $black;
					background-color: $selected-tab-color;
					border-bottom: 0;
					margin-right: 0px;
					max-width: 100%;
					@include border-radius-separate(5px, 50px, 5px, 50px);
				}
			}
		}
	}
}
