@import "../../../variables";
@import "../../../mixins";

.testimonials {
	padding-top: 40px;
	padding-bottom: 20px;
	h3 {
		color: $gray-darkest;
	}
	.testimonials-carousel {
		.item {
			padding: 0 10%;
			.tile {
				box-shadow: none !important;
				.dummy-value {
					color: transparent;
					margin-top: 40px;
				}
				.real-value {
					position: absolute;
					top: 40px;
					width: 80%;
					color: $gray-darkest;
					font-weight: lighter;
					padding-left: 30px;
					border-left: 2px solid $blue-main;
				}
			}
		}
		.left-arrow,
		.right-arrow {
			position: absolute;
			border: none;
			outline: none;
			margin: auto;
			top: 0;
			bottom: 200px;
			width: 44px;
			height: 44px;
			color: white;
			background-color: $button-arrow;
			@include box-shadow(0px, 5px, 25px, rgba(0, 0, 0, 0.05));
			&:hover {
				background-color: darken($button-arrow, 10%);
			}
			i {
				text-align: center;
				font-size: 40px;
			}
		}
		.left-arrow {
			left: 10px;
			i {
				margin-left: -2px;
			}
		}
		.right-arrow {
			right: 10px;
			i {
				margin-right: -2px;
			}
		}
		.ngxcarouselPointDefault {
			ul.ngxcarouselPoint {
				height: 200px;
				margin-top: 30px;
				overflow: hidden;
				li {
					width: 24%;
					height: 200px;
					background-color: transparent !important;
					border-radius: 0 !important;
					background-size: 100% !important;
					background-repeat: no-repeat !important;
					background-position: center;
					&:first-child {
						background-image: url('../../../assets/images/testimonials/alain-pinel-inactive.png');
						&.active {
							background-image: url('../../../assets/images/testimonials/alain-pinel-active.png');
						}
					}
					&:nth-child(2) {
						background-image: url('../../../assets/images/testimonials/michael-arrington-inactive.png');
						&.active {
							background-image: url('../../../assets/images/testimonials/michael-arrington-active.png');
						}
					}
					&:nth-child(3) {
						background-image: url('../../../assets/images/testimonials/andrew-baum-inactive.png');
						&.active {
							background-image: url('../../../assets/images/testimonials/andrew-baum-active.png');
						}
					}
					&:last-child {
						background-image: url('../../../assets/images/testimonials/jeremy-gardner-inactive.png');
						&.active {
							background-image: url('../../../assets/images/testimonials/jeremy-gardner-active.png');
						}
					}
					&.active {
						transform: scale(1) !important;
					}
				}
			}
		}
	}
}
