.testimonials {
	padding-top: 40px;
	.testimonials-carousel {
		.item {
			padding: 0 25%;
			.tile {
				box-shadow: none !important;
				//position: absolute;
				//top: 10%;
				//left: 15%;
				//right: 15%;
				.description-holder {
				}
			}
		}
		.left-arrow {
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			width: 50px;
			height: 50px;
			box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
			border-radius: 999px;
			left: 0;
		}

		.right-arrow {
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			width: 50px;
			height: 50px;
			box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
			border-radius: 999px;
			right: 0;
		}
		.ngxcarouselPoint {
			height: 150px;
			li {
				width: 25%;
				height: 100%;
				background-color: red !important;
				&:first-child {
					background-color: greenyellow !important;
				}
				&.active {
					transform: scale(1) !important;
					background-color: blue !important;
				}
			}
		}
	}
}
