<div class="row testimonials">
	<h3 class="text-center">{{ 'landing.testimonials' | translate }}</h3>
	<div class="testimonials-carousel">
		<ngx-carousel
			[inputs]="carouselTile">

			<ngx-tile NgxCarouselItem *ngFor='let description of testemonialsDescriptions'>
				<div class="dummy-value">
					{{ description.value }}
				</div>
				<div class="real-value">
					{{ description.value}}
				</div>
			</ngx-tile>

			<button NgxCarouselPrev class='left-arrow'></button>
			<button NgxCarouselNext class='right-arrow'></button>
		</ngx-carousel>
	</div>
</div>
