<div class="row container proposal-container">
    <div class="pull-left hidden-xs">
        <img src='../../../assets/images/proposal-ios/mobile-phone-ios.png' />
    </div>
    <div class="pull-left">
        <div class="pull-left">
            <h3 class="mobile-header-width">{{ 'landing.proposal-ios.header' | translate }}</h3>
            <h6 class="mobile-description-width">{{ 'landing.proposal-ios.description' | translate }}</h6>
            <div class="download-button" (click)="emitAnalyticsClickEvent()">
                <a href="https://itunes.apple.com/us/app/propy-buy-rent-properties/id1017369540?mt=8">
          <img src="../../../assets/images/proposal-ios/apple-logo.png" class="pull-left" />
          <div class="pull-left" style="margin-left:10px;color:white">   
            {{ 'landing.proposal-ios.download' | translate }} 
          </div>
        </a>
            </div>
        </div>
    </div>
</div>