// Mixins
@import '../../../mixins';
//variables
@import '../../../variables';

.proposal-container {
    display:flex; 
    align-items:center;
    .mobile-header-width {
        max-width:300px;
    }
    .mobile-description-width {
        max-width:600px
    }
    .download-button {
        padding: 10px;
        max-width: 190px;
        border: none;
        outline: none;
        font-weight: 100;
        @include border-radius(5px);
        background-color: $blue-main;
        height: 44px;
        font-size: 15px;
        color: $white;
        &:hover {
            background-color: $blue-light;
        }  
    }
}




