@import "../../../../variables";
@import "../../../../mixins";
$blue-light-notification: rgb(205, 238, 255);
.notifications {
    font-size: $font-size-small; //padding: 10px;
    margin: 0px;
    a:link {
        text-decoration: none;
    }
    .media {
        padding: 10px;
        &.notRead {
            background-color: $blue-light-notification;
        }
        .timestamp {
            float: right;
            .timestamp-label {
                font-size: 12px;
            }
        }
    }
    .media:hover {
        background-color: $blue-light;
    }
}