<div *ngIf="notifications && notifications.length !== 0; else noNotifications">
    <div class="row notifications" *ngFor="let notification of notifications">
        <a (click)="goToRelatedEvent(notification)">
            <div class="media" [ngClass]="{'notRead': !notification.isSeen}">
                <div class="media-left">
                    <a href="#">
                        <ngx-avatar name="{{ notification.actor.firstName }} {{ notification.actor.lastName }}"
                            src="{{ (notification.actor.avatar ? (notification.actor.avatar | imageEnvPrefix) : '') }}"
                            size="35" initialsSize="2" cornerRadius="4"></ngx-avatar>
                    </a>
                </div>
                <div class="media-body">
                    <p class="media-heading">{{ notification.actor.firstName }} {{ notification.actor.lastName
                        }} {{notificationMessage(notification.type)}}</p>
                </div>
                <div class="timestamp">
                    <i class="fa fa-building-o"></i>
                    <span>transaction tool</span>
                    <i class="fa fa-clock-o"></i>
                    <span class="timestamp-label">{{ (notification.createdOn | amFromUnix) | amTimeAgo }} </span>

                </div>
            </div>
        </a>
    </div>
</div>
<ng-template #noNotifications>

    <div class="row notifications">
        <div class="media">
            <div class="media-body">
                <p class="media-heading">{{ 'common.no-new-notifications' | translate }}</p>
            </div>
        </div>
    </div>


</ng-template>

<!-- <p-dataScroller [value]="notifications.notifications" [rows]="5" [inline]="true">
    <ng-template let-notification pTemplate="item">
        <a href="" [routerLink]="['/property', notification.propertyId]">
            <div class="media" [ngClass]="{'notRead': !notification.isSeen}">
                <div class="media-left">
                    <a href="#">
                        <ngx-avatar name="{{ notification.actor.firstName }} {{ notification.actor.lastName }}"
                            src="{{ (notification.actor.imageAvatar ? (notification.actor.imageAvatar | imageEnvPrefix) : '') }}"
                            size="35" initialsSize="2" cornerRadius="4"></ngx-avatar>
                    </a>
                </div>
                <div class="media-body">
                    <p class="media-heading">{{ notification.actor.firstName }} {{ notification.actor.lastName
                        }} {{notificationMessage(notification.eventType)}}</p>
                </div>
                <div class="timestamp">
                    <i class="fa fa-building-o"></i>
                    <span>transaction tool</span>
                    <i class="fa fa-clock-o"></i>
                    <span class="timestamp-label">{{ (notification.timestamp | amFromUnix) | amTimeAgo }} </span>

                </div>
            </div>
        </a>
    </ng-template>
</p-dataScroller> -->