<div class="row about" style="margin-top:20px; margin-bottom: 20px;">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 about-holder" style="padding: 20px; text-align: left">
        <p>
            <b>
				Propy Inc.<br>
				2011 Menalto Ave,<br>
				Menlo Park, CA 94025
			</b>
        </p>

        <h4 style="text-align: center">{{ 'about.title' | translate }}</h4>
        {{ 'about.text-body' | translate }} <a href="https://tokensale.propy.com/Propy-White-Paper-17-Jul-2017.pdf">{{ 'about.white-paper' | translate }}</a>.<br
        />
        <hr> {{ 'about.inqueries' | translate }} <a (click)="emitEmailContactAnalyticsClickEvent()" href="mailto:info@propy.com">info@propy.com</a>
    </div>
</div>