<div class="row share">
    <div class="col-xs-12">
        <ul class="social-icon-container">
            <li class="social-icon">
                <a href="#">
            <i class="fa fa-facebook-square"></i>
            <span class="overlay"></span>
          </a>
            </li>
            <li class="social-icon">
                <a href="#">
            <i class="fa fa-facebook-square"></i>
            <span class="overlay"></span>
          </a>
            </li>
            <li class="social-icon">
                <a href="#">
            <i class="fa fa-facebook-square"></i>
            <span class="overlay"></span>
          </a>
            </li>
            <li class="social-icon">
                <a href="#">
            <i class="fa fa-facebook-square"></i>
            <span class="overlay"></span>
          </a>
            </li>
        </ul>
    </div>
</div>