@import '../../../mixins';
@import '../../../variables';
.btn-facebook {
    background-color: #3762C3;
    @include border-radius(11px);
    &:hover {
        background-color: darken(#3762C3, 5%);
    }
    >span:first-child {
        border: 0px;
    }
    height: $input-height;
    span.fa {
        font-size: 25px;
    }
    span.text {
        position: relative;
        top: -1px;
        font-size: 20px;
    }
}