// Variables
@import "variables";
// Mixins
@import 'mixins';
.propy-validation-errors-box {}

.propy-validation {
    font-size: 14px;
    color: $red-main;
    margin-bottom: 5px;
    &.propy-pending-validation {
        color: $blue-main;
    }
}