//Colors
$black: #252D30;
$gray-darkest: #5F6467;
$gray-darker: #646464;
$gray-medium: #9BA1A4;
$gray-dark: #B9B9B9;
$gray-light: #C8C8C8;
$gray-lighter: #E8E8E8;
$gray-lightest: #F8F8F8;
$blue-dark: #18ADE2;
$blue-main: #44BDE8;
$blue-light: #7FD4FE;
$white: #FFFFFF;
$red-main: #C50000;
$green-main: #53E505;
$green-sec: #44D32A;
$green-darkest: #4A585E;
//Background colors
$background-blue: $blue-main;
$background-gray: #FAFAFA;
$background-white: $white;
//Text color 
$text-color-main: $gray-darker;
$text-color-action: $blue-main;
$text-color-action-light: $blue-light;
$text-color-secondary: $white;
//Borders 
$border-default: $gray-dark;
$border-error: $red-main;
$multi-select-filter: #C9EFFC;
$multi-select-filter-hovered: #94DFFA;
$multi-select-filter-selected: #4CCAF7;
//Buttons
$button-blue: $blue-main;
$button-blue-hover: $blue-light;
$button-gray: $gray-dark;
$button-gray-hover: $gray-light;
$button-arrow: #D2D2D2;
$button-filter-text: #4A585E;
$button-filter-arrow: #B5BDC1;
$button-filter-apply: #2CDAFF;
$button-filter-apply-hovered: #34DCFF;
$button-filter-bed-selected: #F6FDFF;
// Typography	
$font-family-open-sans: 'Open Sans',
sans-serif;
$font-family-helvetica: 'Helvetica',
'Arial',
sans-serif;
$font-size-base: 16px;
$font-size-medium: 15px;
$font-size-small: 14px;
$font-size-xs: 12px;
// Footer 
$site-top-padding: 52px;
$footer-height: 60px;
// Media queries
$xxs: "(max-width: 500px)";
$xs: "(max-width: 768px)";
$sm: "(max-width: 995px)";
$md: "(max-width: 1200px)";
$lg: "(min-width: 1200px)";
