<?xml version="1.0"?>
<configuration>
  <system.webServer>
	   <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
		 <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
		 <dynamicTypes>
		   <add mimeType="text/*" enabled="true"/>
		   <add mimeType="message/*" enabled="true"/>
		   <add mimeType="application/javascript" enabled="true"/>
		   <add mimeType="image/svg+xml" enabled="true"/>
		   <add mimeType="*/*" enabled="false"/>
		 </dynamicTypes>
		 <staticTypes>
		   <add mimeType="text/*" enabled="true"/>
		   <add mimeType="message/*" enabled="true"/>
		   <add mimeType="application/javascript" enabled="true"/>
		   <add mimeType="image/svg+xml" enabled="true"/>
		   <add mimeType="*/*" enabled="false"/>
		 </staticTypes>
	   </httpCompression>
	   <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true"/>
        <staticContent>
          <remove fileExtension=".eot" />
          <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
          <remove fileExtension=".ttf" />
          <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
          <remove fileExtension=".svg" />
          <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
          <remove fileExtension=".woff" />
          <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
          <remove fileExtension=".woff2" />
          <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
          <remove fileExtension=".json" />
          <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <rewrite>
             <rules>
               <!-- <rule name="Redirect to http" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" negate="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="true" redirectType="Permanent" />
                </rule> -->
                <!--# Only proxy the request to Prerender if it's a request for HTML-->
                <rule name="Prerender" stopProcessing="true">
                    <serverVariables>
                        <set name="HTTP_X_PRERENDER_TOKEN" value="dfXvoASAEjKUPj2x8K5p" />
                        <!-- <set name="HTTP_X_PRERENDER_TOKEN" value="SM1dIsfBFv4vaiua8HwF" /> -->
                    </serverVariables>
                    <match url="^(?!.*?(\.js|\.css|\.xml|\.less|\.png|\.jpg|\.jpeg|\.gif|\.pdf|\.doc|\.txt|\.ico|\.rss|\.zip|\.mp3|\.rar|\.exe|\.wmv|\.doc|\.avi|\.ppt|\.mpg|\.mpeg|\.tif|\.wav|\.mov|\.psd|\.ai|\.xls|\.mp4|\.m4a|\.swf|\.dat|\.dmg|\.iso|\.flv|\.m4v|\.torrent))(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_USER_AGENT}" pattern="baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator" />
                        <add input="{QUERY_STRING}" pattern="(.*)_escaped_fragment_=(.*)" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="https://service.prerender.io/https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
               <rule name="Main Rule" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
              </rule>
            </rules>
        </rewrite>
  </system.webServer>
  <system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>
