@import "../../../variables";

.top-locations {
	margin-top: 40px;
	.location-holder {
		margin-bottom: 10px;
		cursor: pointer;
		.image-holder {
			width: 100%;
			padding-bottom: 50%;
			background-size: cover;
			background-position: center;
			margin: 0;
			img {
				width: auto;
				height: 120px;
			}
		}
		.info-holder {
			margin: 0;
			p {
				display: inline-block;
			}
			span {
				float: right;
				color: $white;
			}
		}
	}
}
