@import "../../../variables";
@import "../../../mixins";

.top-locations {
	margin-top: 40px;
	.top-cities-holder {
		.tile {
			box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.06);
			@include border-radius(9px);
			.location-holder {
				@include border-radius(9px);
				margin-bottom: 10px;
				cursor: pointer;
				.city-details {
					@include border-radius(9px);
					width: 100%;
					padding-bottom: 80%;
					background-size: cover;
					background-position: center;
					margin: 0;
				}
			}
		}
		.left-arrow, .right-arrow {
			display: none !important;
		}
	}
}
