<div class="row">
    <div class="col-xs-12">
        <app-crypto-widget-mobile></app-crypto-widget-mobile>
    </div>
</div>
<div class="row find-property">
    <!-- <div class="col-xs-12 text-center thank-you">
        <p>{{ 'landing.thank-you' | translate }}</p>
    </div> -->
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1 text-center">
        <h3>{{ 'landing.find-properties.heading' | translate }}.</h3>
        <h6>{{ 'landing.find-properties.sub-heading' | translate }}</h6>
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
            <div class="col-md-12 col-lg-10 col-lg-offset-1">
                <app-location-search  inputTheme="big" inputPlaceholder="{{ 'landing.location-search' | translate | ellipsis }}"
                    (onLocationFound)="onLocationFoundHandler($event.latitude, $event.longitude, $event.locationName)"></app-location-search>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <app-featured-properties></app-featured-properties>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <app-favourite-locations></app-favourite-locations>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <app-newsletter></app-newsletter>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <app-how-propy-works></app-how-propy-works>
    </div>
</div>
<div class="row testimonials-holder">
    <div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        <app-testimonials></app-testimonials>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        <app-new-properties></app-new-properties>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        <app-proposal-ios></app-proposal-ios>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-crypto-widget></app-crypto-widget>
    </div>
</div>