<div class="row">
	<div class="col-xs-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
		<app-location-search
			inputPlaceholder="{{ 'common.placeholder.search' | translate }}"
			[searchButtonVisible]="true"
			(onLocationFound)="onLocationFoundHandler($event.latitude, $event.longitude)"></app-location-search>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
		<app-favourite-locations></app-favourite-locations>
	</div>
</div>
<div class="row testimonials-holder">
	<div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
		<app-testimonials></app-testimonials>
	</div>
</div>
