@import "../../variables";
@import "../../mixins";
$map-width: 50%;
$list-width: 50%;
.properties-map {
    .list-container {
        position: absolute;
        top: $site-top-padding;
        left: 0px;
        bottom: 0px;
        background-color: $gray-lightest;
    }
    .width-50 {
        width: $list-width;
    }
    .xs-width-100 {
        @media #{$xs} {
            width: 100%;
        }
    }
    .list-loading-indicator-container {
        position: absolute;
        top: $site-top-padding;
        left: 0px;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.8);
        @keyframes ui-progress-spinner-color {
            100%,
            0% {
                stroke: $blue-dark;
            }
            40% {
                stroke: $gray-darkest;
            }
            66% {
                stroke: $green-darkest;
            }
            80%,
            90% {
                stroke: $red-main;
            }
        }
        .ui-progress-spinner {
            width: 100%;
            padding-top: 5%;
            &:before {
                padding-top: 0px;
            }
        }
    }
    .map-container {
        position: absolute;
        width: $map-width;
        top: $site-top-padding;
        right: 0px;
        bottom: 0px;
        .google-map-holder {
            width: 100%;
            height: 100%;
        }
    }
}

.main-info-window {
    width: 255px;
    max-height: 245px;
    .property-image-holder {
        height: 155px;
        width: 100%;
    }
    .property-iw-footer {
        width: 100%;
        padding: 12px;
        max-height: 90px;
        .property-info {
            .address {
                font-size: 15px;
                font-weight: 100;
                font-family: $font-family-helvetica;
                @include ellipsis(235px);
            }
        }
        .additional-property-info {
            padding: 5px 0;
            span {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 11px;
                font-weight: 100;
                font-family: $font-family-helvetica;
                color: $gray-medium;
                &.property-bedrooms {
                    padding-right: 15px;
                    border-right: 1px solid $gray-light;
                }
                &.property-size {
                    padding-left: 5px;
                }
            }
        }
        .property-price {
            span {
                font-size: 18px;
                font-weight: 400;
                color: $blue-dark;
                font-family: $font-family-open-sans;
            }
        }
    }
}