.google-map-holder {
	width: 100%;
	height: 600px;
	.gm-style-iw + div {
		display: none;
	}

	/*style the box*/
	.gm-style {
		.gm-style-iw div {
			background-color: white !important;
		}
		// arrow styling
		div div div div div div div div {
			background: none !important;
			border: none !important;
			box-shadow: none !important;
		}
	}
}
