<div class="row new-properties">
	<h3 class="text-center">{{ 'landing.new-properties' | translate }}</h3>
	<div class="dropdown-holder text-center">
		<span>in</span>
		<p-dropdown [options]="citiesOptions" [(ngModel)]="selectedCity"
					(onChange)="cityChanged($event)"
					styleClass="city-dropdown"></p-dropdown>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 property" *ngFor="let property of this.properties">
		<div class="image-holder">
			<img src="{{property.imageUrls[0]}}"/>
		</div>
		{{property.address}}
	</div>
</div>
