<div class="row new-properties">
    <h3 class="text-center">{{ 'landing.new-properties.heading' | translate }}</h3>
    <div class="dropdown-holder text-center">
        <span>{{ 'landing.new-properties.in' | translate }}</span>
        <p-dropdown [options]="citiesOptions" [(ngModel)]="selectedCity" (onChange)="cityChanged($event)" autoWidth="false" styleClass="city-dropdown"></p-dropdown>
    </div>
    <div *ngIf="properties">
        <div class="col-xs-12 col-sm-6 col-md-4 property" *ngFor="let property of properties">
            <app-property-preview [property]="property" [cityName]="citiesOptions[selectedCity].label" [imageWidth]="350" [imageHeight]="215">

            </app-property-preview>
        </div>
    </div>
</div>
