@import "../../../variables";

.reupload-holder {
	margin-top: 30px;
	.reupload-button-holder {
		position: absolute;
		right: 30px;
		z-index: 1;
		.cancel-reuploading {
			border: solid 1px $gray-light;
		}
	}
}
