<div class="invitation" *ngIf="invitationDataLoaded">
    <div *ngIf="isSellerInvited; then sellerInvited; else sellerNotInvited">
    </div>

    <ng-template #sellerInvited>
        <div class="row" *ngIf="hasDataLoaded">
            <div class="col-xs-12 text-left" *ngIf="!userIsSeller">
                <h4>{{waitingForSellerTitle}}</h4>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 text-left" *ngIf="userIsSeller">
                <h4>{{respondToInvitationTitle}}</h4>
                <div *ngIf="deedAddress">
                    <app-property-item-view [deedAddress]="deedAddress"></app-property-item-view>
                </div>
                <app-transaction-tool-invite-respond (onAccept)="onAccept()" (onReject)="onReject()"></app-transaction-tool-invite-respond>
            </div>
        </div>

    </ng-template>

    <ng-template #sellerNotInvited>
        <div class="row" *ngIf="hasDataLoaded">
            <div class="col-xs-12 text-left" *ngIf="!userIsAgent">
                <h4>{{waitingForBrokerTitle}}</h4>
            </div>
            <div *ngIf="deedAddress">
                <app-property-item-view [deedAddress]="deedAddress"></app-property-item-view>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 text-left" *ngIf="userIsAgent">
                <h4>{{inviteSellerTitle}}</h4>
                <app-transaction-tool-invite (onInvite)="onInvite($event.email)"></app-transaction-tool-invite>
            </div>
        </div>
    </ng-template>


</div>