<div class="invitation" *ngIf="invitationDataLoaded">
    <div *ngIf="isSellerInvited; then sellerInvited; else sellerNotInvited">
    </div>

    <ng-template #sellerInvited>
        <div class="row" *ngIf="hasDataLoaded">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-12 text-center" *ngIf="!userIsSeller">
                        <h4>{{waitingForSellerTitle}}</h4>
                    </div>
                    <div class="col-xs-12 text-center" *ngIf="userIsSeller">
                        <h4>{{respondToInvitationTitle}}</h4>
                        <app-transaction-tool-invite-respond (onAccept)="onAccept()" (onReject)="onReject()"></app-transaction-tool-invite-respond>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>

    <ng-template #sellerNotInvited>
        <div class="row" *ngIf="hasDataLoaded">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-12 text-center" *ngIf="!userIsAgent">
                        <h4>{{waitingForBrokerTitle}}</h4>
                    </div>
                    <div class="col-xs-12 text-center" *ngIf="userIsAgent">
                        <h4>{{inviteSellerTitle}}</h4>
                        <app-transaction-tool-invite (onInvite)="onInvite($event.email)"></app-transaction-tool-invite>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>


</div>