@import "../../../variables";
@import "../../../mixins";
.property-card {
    background-color: $white;
    @include border-radius(7px);
    .image-holder {
        cursor: pointer;
        .new-label {
            position: absolute;
            top: 20px;
            left: 35px;
            @include border-radius(3px);
            padding: 3px 10px;
            font-size: 10px;
            font-weight: 300;
            letter-spacing: 1px;
            background: $blue-main;
            color: white;
        }
        .property-price {
            position: absolute;
            top: 160px;
            padding-left: 10px;
            color: white;
            font-size: 24px;
        }
        img {
            @include border-radius-separate(7px, 7px, 0px, 0px);
            height: 215px;
            width: 100%;
        }
        .right-arrow-holder {
            position: absolute;
            top: 140px;
            right: 25px;
            height: 50px;
            width: 50px;
            background: url('../../../assets/images/right-arrow-hover.svg') 100% no-repeat;
            visibility: hidden;
            @media #{$sm} {
                visibility: visible;
            }
        }
        &:hover {
            .right-arrow-holder {
                visibility: visible;
            }
        }
    }
    .property-info {
        padding: 20px 20px 0 20px;
        font-size: 15px;
        color: $black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .address {
            font-size: 14px;
            font-weight: normal;
        }
    }
    .additional-property-info {
        padding: 0 10px 4px 10px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
            font-weight: normal;
            padding-right: 5px;
        }
        span:nth-child(2),
        span:nth-child(3) {
            border-left: solid 1px $gray-light;
            padding-left: 10px;
        }
    }
}